{{#view 'profile/profile-layout'}}
    <div class="edit-panel">
        <div class="panel-header">
            Required
        </div>
        <div class="panel-content">
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>First Name</label>
                </div>

                <div class="col">
                  {{input type="text" autocomplete="off" placeholder="e.g. John" value=model.firstName}}
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>Last Name</label>
                </div>
                <div class="col">
                  {{input type="text" autocomplete="off" placeholder="e.g. Doe" value=model.lastName}}
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>Gender</label>
                </div>
                <div class="col">
                    <div class="sex-select btn-group">
                        <button class="col-2 {{if (eq model.gender '1') 'active'}}" {{action "changeGender" model '1'}}>Guy</button>
                        <button class="col-2 {{if (eq model.gender '2') 'active'}}" {{action "changeGender" model '2'}}>Girl</button>
                    </div>
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>E-mail</label>
                </div>
                <div class="col">
                  {{input type="text" autocomplete="off" placeholder="e.g. John@gmail.com" value=model.email}}
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>Phone Number</label>
                </div>
                <div class="col">
                  {{input type="text" autocomplete="off" placeholder="e.g. +1 202 555 0113" value=model.phone}}
                </div>
            </div>
        </div>
    </div>

    <div class="edit-panel">
        <div class="panel-header">
            Optional
        </div>
        <div class="panel-content">
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>Wechat</label>
                </div>

                <div class="col">
                  {{input type="text" autocomplete="off" placeholder="e.g. 550113" value=model.wechat}}
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>Country</label>
                </div>

                <div class="col">
                  {{select-2
                  content=countryMapping
                  value=model.country
                  optionValuePath="id"
                  placeholder="Select your country"
                  }}
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>Languages</label>
                </div>

                <div class="col">
                  {{select-2
                  content=languageMapping
                  value=model.languages
                  multiple=true
                  optionValuePath="id"
                  placeholder="Add languages you speak"
                  }}
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>Occupation</label>
                </div>

                <div class="col">
                  {{select-2
                  content=occupationMapping
                  value=model.occupation
                  optionValuePath="id"
                  placeholder="Choose your Occupation"
                  }}
                </div>
            </div>
            <div class="form-row clearfix">
                <div class="left-col">
                    <label>Hobby</label>
                </div>

                <div class="col">
                  {{select-2
                  content=hobbyMapping
                  value=model.hobbies
                  multiple=true
                  optionValuePath="id"
                  placeholder="Choose some hobbies"
                  }}
                </div>
            </div>
            <div class="form-row with-textarea clearfix">
                <div class="left-col">
                    <label>Describe Yourself</label>
                </div>

                <div class="col">
                  {{textarea placeholder="Help other people get to know you." value=model.description}}
                </div>
            </div>
            <div class="gap gap-small"></div>
        </div>
    </div>

    <div class="profile-op">
        <button class="op-btn btn-save" {{action "save" model}}>Save</button>
    </div>
{{/view}}
