<div class="edit-container">
    <div class="profile-left-nav">
        <div class="nav-area">
            <div class="user-info">
              {{#if session.user.logo.downloadFilePath}}
                  <img src={{session.user.logo.downloadFilePath}} />
              {{else}}
                  <img src="/images/user_unknown.png" />
              {{/if}}
              <p class="username">{{session.user.fullName}}</p>
              <p class="join-date">Member Since {{session.user.createTime}}</p>
            </div>
            <ul>
                {{#link-to 'profile.edit-profile'}}<li class={{if (eq _profileTitle 'Edit') 'active'}}><span></span>Edit Profile</li>{{/link-to}}
                {{#link-to 'profile.change-password'}}<li class={{if (eq _profileTitle 'Security') 'active'}}><span></span>Password</li>{{/link-to}}
                {{#link-to 'profile.photo'}}<li class={{if (eq _profileTitle 'Photo') 'active'}} ><span></span>Upload Photo</li>{{/link-to}}
            </ul>
        </div>
        <div class="view-profile">
            {{#link-to 'profile.view' session.user.id}}<button class="op-btn btn-view-profile">View Profile</button>{{/link-to}}
        </div>
    </div>
    <div class="profile-area clearfix">
      {{yield}}
    </div>
</div>
