<div class="profile-container">
    <div class="left-block">
        <div class="listing">
          {{#if model.photo}}
              <img src={{model.photo}} alt=""/>
          {{else}}
              <img src="/images/testimonial_1.jpg" alt="">
          {{/if}}
          {{#if model.listingsCount}}
            <div class="header">
                <p>Listing <span>({{model.listingsCount}})</span></p>
            </div>
            <div class="list">
                <div class="listing-room">
                  {{#if model.latestListing.coverPhoto}}
                      <a class="slide-img" style="background-image: url({{model.latestListing.coverPhoto.imageUrl}})"></a>
                  {{else}}
                      <a class="slide-img" style="background-image: url(images/post-5.jpg)"></a>
                  {{/if}}

                  {{#link-to 'listing.detail' model.latestListing.id}}
                    <div class="overlay"></div>
                    <div class="intro">
                        eart of the most romanticised Shanghai
                    </div>
                  {{/link-to}}
                </div>
            </div>
            <div class="more">
                {{#link-to 'listing.list' (query-params userId=model.id)}}View all Listings →{{/link-to}}
            </div>
        {{/if}}
        </div>
    </div>
    <div class="right-block">
        <p class="username">{{model.fullName}}</p>
        <p class="join-date">Member Since {{model.createTime}}</p>
        {{#if (eq session.id model.id)}}
            <h5>{{#link-to 'profile.edit-profile'}}Edit profile{{/link-to}}</h5>
        {{/if}}
        <div class="basic-info">
            <p>{{model.country}}</p>
            <p>{{model.occupation}}</p>
            <p class="sex">{{format-gender model.gender}}</p>
        </div>
        <div class="about-me">
            <p class="title">About me</p>
            <p class="intro">{{model.description}}</p>
        </div>
        <hr/>
        <div class="detail-info">
            <div class="detail-row clearfix">
                <p class="sub">E-mail</p>
                <p>{{model.email}}</p>
            </div>
            <div class="detail-row clearfix">
                <p class="sub">Phone Number</p>
                <p>{{model.phone}}</p>
            </div>
            <div class="detail-row clearfix">
                <p class="sub">WeChat</p>
                <p>{{model.wechat}}</p>
            </div>
        </div>
    </div>
</div>