<div class="white_bg">
    <div class=" container" style="padding-top:25px; padding-bottom:15px;">
        <div class="row">
            <div class="col-md-2">
                <div class="widget">
                    <div id="tour_guide">
                        <p>
                          {{#if model.photo}}
                              <img src={{model.photo}} alt="" style="width:180px;float:left" class="img-circle styled"/>
                          {{else}}
                              <img src="/images/testimonial_1.jpg" alt="" style="width:180px;float:left" class="img-circle styled">
                          {{/if}}
                        </p>
                    </div>
                </div><!-- End Search -->
            </div>
            <div class="col-md-10" style="padding-left:20px;">
                <h1>{{model.firstName}} {{model.lastName}}</h1>
                <h5>Member Since May 2014</h5>
                <h5>{{#link-to 'profile.edit-profile'}}Edit profile{{/link-to}}</h5>
                <h4  style="margin-top:45px;margin-bottom: 5px;">{{model.country}}</h4>
                <h4  style="  margin-top: 5px; margin-bottom: 5px;">{{model.occupation}}</h4>
                <h4 style="  margin-top: 5px; margin-bottom: 5px;">{{model.gender}}</h4>
            </div>
        </div>
    </div>
</div>
<style>
    td:first-child {
        padding-right: 20px;
        font-weight: bold;
    }
</style>
<div class="container"  style="padding-top:15px; padding-bottom:60px;">
    <div class="row">
        <div class="col-md-7 col-md-offset-2" style="padding-right:20px;padding-left:20px;">
            <h3>About Me</h3>
            <p style="margin-top:30px;font-size: 14px;line-height: 1.6;">{{model.description}}</p>
            <hr style="margin-top:40px;margin-bottom:40px;">
            <table>
                <thead>
                    <tr>
                        <td style="padding-right:20px;"></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        E-Mail
                    </td>
                    <td >
                        {{model.email}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone Number
                    </td>
                    <td >
                        {{model.phone}}
                    </td>
                </tr>
                <tr>
                    <td>
                        WeChart
                    </td>
                    <td >
                        {{model.wechat}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {{#if model.listingsCount}}
            <aside class="col-md-3">
                <h3 style="margin-bottom:30px;">Listing ({{model.listingsCount}})</h3>
                <img src="/images/tour_box_8.jpg" width="800" height="333" class="img-responsive" alt="">
                <a>View all Listings</a>
            </aside>
        {{/if}}

    </div>
</div>