<div class="alert-block">
  {{#if session.user.logo.downloadFilePath}}
      <img class="user-header"
           src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
  {{else}}
      <img class="user-header"
           src="images/user_unknown.png" title={{session.user.firstName}}>
  {{/if}}
    <p>Guests love photos that highlight the features of your space</p>
</div>

<div class="add-photo margin-top-25">
  {{photos-uploader name=model.id id="upload_photo" style="display: none" url=uploadUrl accept="image/*" uploadSuccess="addPhotos"}}
    <button id="btn_add_photo" class="op-btn btn-add-photo">Add Photos</button>
  {{#if model.photos.length}}
      <p class="photo-num fr">{{model.photos.length}} photos</p>
  {{/if}}
</div>

<div class="photo-list clearfix">
  {{#collection "ivy-sortable" moved="movePhoto" placeholder="ui-state-highlight" content=model.photos}}
      <div class="single-photo">
          <div class="photo">
              <a class="slide-img" style="background-image: url({{imageUrl}})"></a>
              <div class="remove" {{action "removePhoto" this}}>
                  <img src="/images/static/remove.png" />
              </div>
          </div>
          <div class="desc">
            {{textarea placeholder="What are the highlights?" value=description focus-out="saveDescription"}}
          </div>
      </div>
  {{/collection}}
</div>

<style>
    .ui-sortable { list-style-type: none; margin: 0; padding: 0; }
    .ui-sortable li { float: left; width: 33.3%; text-align: center; }
    .ui-state-highlight { height: 100%; line-height: 100%; }
</style>