<div class="alert-block">
  {{#if session.user.logo.downloadFilePath}}
      <img class="user-header"
           src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
  {{else}}
      <img class="user-header"
           src="images/user_unknown.png" title={{session.user.firstName}}>
  {{/if}}
    <p>Tell us about your apartment</p>
</div>

{{#unless model.isShared}}
  {{#each model.listings as |listing index|}}
    {{#unless index}}
        <div class="edit-form margin-top-25">
            <div class="group-row">
                <label for="title" class="sub-title">Write a title</label>
              {{input id="title" type="text" autocomplete="off" placeholder="Write a title" value=listing.title}}
            </div>
            <div class="group-row  margin-top-25">
                <label for="description" class="sub-title">Description</label>
              {{textarea id="description" placeholder="Write a description in 250 characters or less" value=listing.description}}
            </div>

            <div class="group-row with-title">
                <label class="title">Payment</label>
                <div class="payment clearfix">
                    <div class="col">
                        <p class="title"><span class="radius-number-1 {{unless listing.perMonthPrice 'radius-number-gary'}}">1</span></p>
                      {{input type="text" autocomplete="off" value=listing.perMonthPrice}}
                    </div>
                    <div class="col">
                        <p class="title"><span class="radius-number-1 {{unless listing.perThreeMonthPrice 'radius-number-gary'}}">3</span></p>
                      {{input class="form-control" type="text" autocomplete="off" value=listing.perThreeMonthPrice}}
                    </div>
                    <div class="col">
                        <p class="title"><span class="radius-number-1 {{unless listing.perSixMonthPrice 'radius-number-gary'}}">6</span></p>
                      {{input class="form-control" type="text" autocomplete="off" value=listing.perSixMonthPrice}}
                    </div>
                    <div class="col">
                        <p class="title"><span class="radius-number-1 {{unless listing.perYearPrice 'radius-number-gary'}}">12</span></p>
                      {{input class="form-control" type="text" autocomplete="off" value=listing.perYearPrice}}
                    </div>
                </div>

                <div class="payment clearfix">
                    <div class="col">
                        <p class="title">Deposit</p>
                      {{input type="text" autocomplete="off" value=listing.deposit}}
                    </div>
                    <div class="col">
                        <p class="title">Service Fee</p>
                      {{input type="text" autocomplete="off" value=listing.serviceFee}}
                    </div>
                </div>
            </div>
        </div>
    {{/unless}}
  {{/each}}
{{/unless}}

<div class="op-wrapper">
    <div class="op-form">
        <p class="sub-title">Details</p>
        <div class="home-detail clearfix">
            <div class="col">
                <p class="title">Bedrooms</p>
              {{select-2
              content=roomNumberMapping
              enabled=model.bedroomEditable
              value=model.bedrooms
              optionValuePath="id"
              }}
            </div>
            <div class="col">
                <p class="title">Living Rooms</p>
              {{select-2
              content=roomNumberMapping
              value=model.bathrooms
              optionValuePath="id"
              }}
            </div>
            <div class="col">
                <p class="title">Bathrooms</p>
              {{select-2
              content=roomNumberMapping
              value=model.livingRooms
              optionValuePath="id"
              }}
            </div>
            <div class="col">
                <p class="title">Size,m2</p>
              {{input type="text" autocomplete="off" value=model.size}}
            </div>
        </div>
        <hr/>

        <p class="sub-title">Amenities</p>
        <div class="clearfix">
          {{multi-checkboxes options=amenityMapping valueProperty='index' labelProperty='name' selection=model.amenities}}
        </div>
    </div>
</div>