<h2>Calendar</h2>
<div style="background:rgb(229,245,246) ;border:1px solid rgb(229, 245, 246);padding-top:3px;padding-left:10px; height: 80px;margin-top:20px;width: 100%">
  {{#if session.user.logo.downloadFilePath}}
      <img style="border-radius:50%;width:60px;margin-right:10px;border:1px solid white"
           src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
  {{else}}
      <img style="border-radius:50%;width:60px;margin-right:10px;border:1px solid white"
           src="images/user_unknown.png" title={{session.user.firstName}}>
  {{/if}}
    <span style="display: inline-block;margin-left:20px;font-size:18px;padding-top:26px;font-weight: bold;">Starting day of you listing?</span>
</div>
<div class="box_style_2" style="border-top:none;border-radius: 0">
  {{un-calendar selectedDate=availableDate showNextMonth=false showPrevMonth=false}}
</div>