<div class="add-tenant add-block">
    <img src="/images/static/Add.png">
    <p>Add a tenant if the room is now occupied</p>
</div>
<div class="alert-block margin-top-25">
  {{#if session.user.logo.downloadFilePath}}
      <img class="user-header"
           src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
  {{else}}
      <img class="user-header"
           src="images/user_unknown.png" title={{session.user.firstName}}>
  {{/if}}
    <p>Starting day of you listing?</p>
</div>
<div class="calendar-block margin-top-25">
  {{bootstrap-datepicker-inline value=availableDate}}
</div>

