<div class="alert-block">
  {{#if session.user.logo.downloadFilePath}}
      <img class="user-header"
           src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
  {{else}}
      <img class="user-header"
           src="images/user_unknown.png" title={{session.user.firstName}}>
  {{/if}}
    <p>Tell where you are</p>
</div>

<div class="op-wrapper">
    <div class="op-form margin-top-20">
        <div class="address-map">
            <div class="map-flow" id="address_map"></div>
            {{gaode-map }}
        </div>
        <div class="address-book">
            <div class="address-form">
                <div class="form-row icon">
                    <img src="/images/static/icon-location.png" />
                  {{input id="place_search" placeholder="input the Compound" value=model.compound}}
                </div>
              {{#if model.compound}}
                  <div class="form-row clearfix" id="line-2">
                      <div class="col-area">
                        {{input placeholder="input the Area" value=model.area}}
                      </div>
                      <div class="col-address no-border-right">
                        {{input placeholder="input the Address" value=model.address}}
                      </div>
                  </div>
                  <div class="form-row" id="line-3">
                    {{select-2
                    content=stationMapping
                    value=model.metroStations
                    optionValuePath="id"
                    multiple=true
                    class="subway-select"
                    id="subway_select"
                    placeholder="Choose the Metro"
                    }}
                  </div>
              {{/if}}
                <div class="form-row clearfix no-margin-bottom">
                    <div class="col-3">
                      {{select-2
                      content=buildingMapping
                      value=model.building
                      optionValuePath="id"
                      placeholder="Building #"
                      }}
                    </div>
                    <div class="col-3">
                      {{select-2
                      content=floorMapping
                      value=model.floor
                      optionValuePath="id"
                      placeholder="Floor #"
                      }}
                    </div>
                    <div class="col-3 no-margin-right">
                      {{input class="room-num" placeholder="Room #" value=model.doorplate}}
                        <div class="lock">
                            <img src="/images/static/lock.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .autocomplete-suggestions {
        text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

        /* core styles should not be changed */
        position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
    }
    .autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; font-size: 1.02em; color: #333; }
    .autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
    .autocomplete-suggestion.selected { background: #f0f0f0; }

</style>