<div class="alert-block">
  {{#if session.user.logo.downloadFilePath}}
      <img class="user-header"
           src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
  {{else}}
      <img class="user-header"
           src="images/user_unknown.png" title={{session.user.firstName}}>
  {{/if}}
    <p>Tell us about your room</p>
</div>

{{#each model.house.listings as |listing index|}}
  {{#if (eq model.activeId listing.id)}}
      <div class="edit-form margin-top-25">
          <div class="group-row">
              <label for="title" class="sub-title">Write a title</label>
              {{input id="title" type="text" autocomplete="off" placeholder="Write a title" value=listing.title}}
          </div>
          <div class="group-row  margin-top-25">
              <label for="description" class="sub-title">Description</label>
              {{textarea id="description" placeholder="Write a description in 250 characters or less" value=listing.description}}
          </div>

          <div class="group-row with-title">
              <label class="title">Payment</label>
              <div class="payment clearfix">
                  <div class="col">
                      <p class="title">Deposit</p>
                    {{input type="text" autocomplete="off" value=listing.deposit}}
                  </div>
                  <div class="col">
                      <p class="title">Service Fee</p>
                    {{input type="text" autocomplete="off" value=listing.serviceFee}}
                  </div>
              </div>
            {{#each listing.payments as |payment pIndex|}}
              {{#unless pIndex}}
                  <div class="payment clearfix">
                      <div class="col">
                          <p class="title">Payment cycle</p>
                        {{select-2
                        content=paymentMapping
                        value=payment.cycle
                        optionValuePath="id"
                        }}
                      </div>
                      <div class="col">
                          <p class="title">Price</p>
                        {{input value=payment.price}}
                      </div>
                      <div class="op">
                          <img class="add-payment" src="/images/static/Add.png" {{action "addPayment" listing}} />
                      </div>
                  </div>
              {{else}}
                  <div class="payment more clearfix">
                      <div class="col">
                        {{select-2
                        content=paymentMapping
                        value=payment.cycle
                        optionValuePath="id"
                        }}
                      </div>
                      <div class="col">
                        {{input value=payment.price}}
                      </div>
                      <div class="op">
                          <img class="remove" src="/images/static/remove.png" {{action "removePayment" listing payment}} />
                      </div>
                  </div>
              {{/unless}}
            {{/each}}
          </div>
          <div class="group-row with-title">
              <label class="title">Features</label>
              <div class="clearfix">
                {{multi-checkboxes options=featureMapping valueProperty='index' labelProperty='name' selection=listing.features}}
              </div>
          </div>
      </div>
  {{/if}}
{{/each}}

<style>
    .multiselect-checkboxes { list-style-type: none; margin: 0; padding: 5px; }
    .multiselect-checkbox-option { float: left; width: 100%;}
    .multiselect-checkbox-option input{
        width: 18px;
        margin-right: 5px;
        height: 18px;
    }
</style>



