<div class="main-container">
    <div class="main-wrapper detail-page clearfix">
        <div class="left-detail-block">
            <div class="detail-title none-display-768">
                <p class="line-1">{{model.house.compound}} - Room {{room-index model.index}}</p>

                <p class="line-2">{{model.house.area}}</p>
            </div>
            <div class="detail-img">
                <a class="slide-img" style="background-image: url(/images/static/bg-pudong.png)"></a>
                <!--<a href="#" target="_blank">-->
                <!--<div class="more-pic">-->
                <!--See all 13 photos-->
                <!--</div>-->
                <!--</a>-->
            </div>

            <div class="resp-detail-title none-display-max display-768">
                <p class="line-1">{{model.house.compound}} - Room {{room-index model.index}}</p>

                <p class="line-2">{{model.house.area}}</p>
            </div>
            <!-- 响应式下面的边栏 -->
            <div class="right-detail-block none-display-max display-1100 clearfix">

                <div class="room-info">
                    <div class="col-3">
                        <div class="header">Rooms</div>
                        <div class="num">{{model.house.bedrooms}}</div>
                    </div>
                  {{#if model.house.isShared}}
                    <div class="col-3">
                        <div class="header">Flatmates</div>
                        <div class="num">{{model.house.flatmates.length}}</div>
                    </div>
                  {{/if}}
                    <div class="col-3">
                        <div class="header">Apt size, m2</div>
                        <div class="num">{{model.house.size}}</div>
                    </div>
                </div>

                <div class="order-time none-display-768">
                    <span class="fl">I pay per</span>
                  {{#each model.payments as |payment pIndex|}}
                      <span class="month-selector {{unless pIndex 'margin-left-10'}} {{if (eq currentPayCycle payment.cycle) 'active'}}" {{action "changePrice" payment.cycle payment.price}}>{{payment.cycle}}</span>
                  {{/each}}
                    <span class="fr">Month</span>
                </div>

                <div class="room-mate none-display-768">
                    <a class="nav-left">
                        <img src="/images/static/A-Left.png"/>
                    </a>
                    <a class="nav-right">
                        <img src="/images/static/A-Right.png"/>
                    </a>

                    <div class="roommate-container">
                      {{#each model.house.flatmates as |flatmate index|}}
                        {{#if flatmate.isAvailable}}
                          {{#if (eq flatmate.listingId model.id)}}
                              <div class="col-4 this-room item">
                                  <div class="order-num">
                                    {{room-index index}}
                                  </div>
                                  <div class="tips">
                                      <p>Isn't a nice room?</p>
                                  </div>
                              </div>
                          {{else}}
                              <div class="col-4 available item">
                                  <div class="order-num">
                                    {{room-index index}}
                                  </div>
                                  <div class="tips">
                                      <p>Available <br/>right now</p>
                                  </div>
                              </div>
                          {{/if}}
                        {{else}}
                            <div class="col-4 item">
                                <div class="order-num">
                                  {{room-index index}}
                                </div>
                                <div class="user-header">
                                    <img src="/images/static/LISA_100.jpg"/>
                                    <img class="flag" src="/images/static/flag-demo.png"/>
                                </div>
                                <div class="tips">
                                    <p class="nationality">{{flatmate.country}}</p>

                                    <p class="job">{{flatmate.occupation}}</p>

                                    <p class="sex">{{if (eq flatmate.gender '1') 'Guy' 'Girl'}}</p>
                                </div>
                            </div>
                        {{/if}}
                      {{/each}}
                    </div>
                </div>

                <div class="room-mate clearfix none-display-max display-768">
                  {{#each model.house.flatmates as |flatmate index|}}
                    {{#if flatmate.isAvailable}}
                      {{#if (eq flatmate.listingId model.id)}}
                          <div class="col-4 this-room item">
                              <div class="order-num">
                                {{room-index index}}
                              </div>
                              <div class="tips">
                                  <p>Isn't a nice room?</p>
                              </div>
                          </div>
                      {{else}}
                          <div class="col-4 available item">
                              <div class="order-num">
                                {{room-index index}}
                              </div>
                              <div class="tips">
                                  <p>Available <br/>right now</p>
                              </div>
                          </div>
                      {{/if}}
                    {{else}}
                        <div class="col-4 item">
                            <div class="order-num">
                              {{room-index index}}
                            </div>
                            <div class="user-header">
                                <img src="/images/static/LISA_100.jpg"/>
                                <img class="flag" src="/images/static/flag-demo.png"/>
                            </div>
                            <div class="tips">
                                <p class="nationality">{{flatmate.country}}</p>

                                <p class="job">{{flatmate.occupation}}</p>

                                <p class="sex">{{if (eq flatmate.gender '1') 'Guy' 'Girl'}}</p>
                            </div>
                        </div>
                    {{/if}}
                  {{/each}}
                </div>

                <div class="room-price">
                    <div class="half-block price  none-display-768">
                        <div class="price-month">Price, Month</div>
                        <div class="price-num">&yen;{{currentPrice}}</div>
                        <div class="service-fee">
                          {{#if model.serviceFee}}
                            +{{model.serviceFee}} Service Fee
                          {{/if}}
                        </div>
                    </div>
                    <div class="half-block">
                        <div class="inquery" {{action "showDialog"}}>
                            INQUIRY
                        </div>
                        <div class="wishlist none-display-768">
                            <img class="like" src="/images/static/like.png"/> WISHLIST
                        </div>
                    </div>
                </div>
            </div>
            <!-- 响应式下面的边栏 -->
            <div class="detail-intro main-intro">
                <div class="intro-header">
                    About
                </div>
                <div class="intro-content">
                    <p>{{model.description}}</p>
                </div>
            </div>
            <div class="detail-intro">
                <div class="intro-header">
                    Basics
                </div>
                <div class="intro-content">
                    <p>Area: <strong>{{model.house.area}}</strong></p>

                    <p>Metro:
                      <strong>
                        {{#each model.house.metroStations as |metroStation index|}}
                          {{#if index}},{{/if}}{{metroStation}}
                        {{/each}}
                      </strong>
                    </p>

                    <p>Compound: <strong>{{model.house.compound}}</strong></p>
                </div>
            </div>
            <div class="detail-intro">
                <div class="intro-header">
                    Apt amenities
                </div>
                <div class="clearfix">
                  {{multi-checkboxes options=amenityMapping valueProperty='index' labelProperty='name' disabled=true type='view' selection=model.house.amenities}}
                </div>
            </div>
            <div class="detail-intro">
                <div class="intro-header">
                    Room
                </div>
                <div class="clearfix">
                  {{multi-checkboxes options=featureMapping valueProperty='index' labelProperty='name' disabled=true type='view' selection=model.features}}
                </div>
            </div>
            <div class="detail-intro">
                <div class="intro-header">
                    Price
                </div>
                <div class="intro-content clearfix">
                    <div class="single-word odd">
                        <p>Payment cycle: <strong>3 / 6 / 12 month</strong></p>
                    </div>
                    <div class="single-word">
                        <p>Deposit: <strong>&yen;3200</strong></p>
                    </div>
                    <div class="single-word odd">
                        <p>Month price: <strong>&yen;2850—2900</strong></p>
                    </div>
                    <div class="single-word"></div>
                    <div class="single-word odd">
                        <p>Service Fee: <strong>&yen;300</strong></p>
                    </div>
                </div>
            </div>
            <div class="detail-intro host">
                <div class="intro-header none-display-768">
                    <p>Host</p>
                    {{#if model.creatorPhoto}}
                        <img src={{model.creatorPhoto}} alt="" />
                    {{else}}
                        <img src="/images/user_unknown.png" alt="">
                    {{/if}}
                </div>
                <!--  resp -->
                <div class="resp-intro-header none-display-max display-768">
                    <p>The Host, <span class="contact-name">{{model.creatorName}}</span></p>
                    {{#if model.creatorPhoto}}
                        <img src={{model.creatorPhoto}} alt="" />
                    {{else}}
                        <img src="/images/user_unknown.png" alt="">
                    {{/if}}
                    <button class="btn-contact" {{action "showDialog"}}>Contact host</button>
                </div>
                <!--  resp -->
                <div class="intro-content">
                    <p class="contact-name none-display-768">{{model.creatorName}}</p>

                    <p class="contact-intro">{{model.creatorDescription}}</p>
                    <button class="btn-contact none-display-768" {{action "showDialog"}}>Contact host</button>
                </div>
            </div>
        </div>
        <div class="right-detail-block none-display-1100">
            <div class="room-info">
                <div class="col-3">
                    <div class="header">Rooms</div>
                    <div class="num">{{model.house.bedrooms}}</div>
                </div>
              {{#if model.house.isShared}}
                  <div class="col-3">
                      <div class="header">Flatmates</div>
                      <div class="num">{{model.house.flatmates.length}}</div>
                  </div>
              {{/if}}
                <div class="col-3">
                    <div class="header">Apt size, m2</div>
                    <div class="num">{{model.house.size}}</div>
                </div>
            </div>

            <div class="room-mate" id="room_mate_suspend">
                <a class="nav-left">
                    <img src="/images/static/A-Left.png"/>
                </a>
                <a class="nav-right">
                    <img src="/images/static/A-Right.png"/>
                </a>

                <div class="roommate-container">
                  {{#each model.house.flatmates as |flatmate index|}}
                    {{#if flatmate.isAvailable}}
                      {{#if (eq flatmate.listingId model.id)}}
                          <div class="col-4 this-room item">
                              <div class="order-num">
                                {{room-index index}}
                              </div>
                              <div class="tips">
                                  <p>Isn't a nice room?</p>
                              </div>
                          </div>
                      {{else}}
                          <div class="col-4 available item">
                              <div class="order-num">
                                {{room-index index}}
                              </div>
                              <div class="tips">
                                  <p>Available <br/>right now</p>
                              </div>
                          </div>
                      {{/if}}
                    {{else}}
                        <div class="col-4 item">
                            <div class="order-num">
                              {{room-index index}}
                            </div>
                            <div class="user-header">
                                <img src="/images/static/LISA_100.jpg"/>
                                <img class="flag" src="/images/static/flag-demo.png"/>
                            </div>
                            <div class="tips">
                                <p class="nationality">{{flatmate.country}}</p>

                                <p class="job">{{flatmate.occupation}}</p>

                                <p class="sex">{{if (eq flatmate.gender '1') 'Guy' 'Girl'}}</p>
                            </div>
                        </div>
                    {{/if}}
                  {{/each}}
                </div>
            </div>
            <div id="room_price_suspend">
                <div class="room-price">
                    <div class="half-block price">
                        <div class="price-month">Price, Month</div>
                        <div class="price-num">&yen;{{currentPrice}}</div>
                        <div class="service-fee">
                          {{#if model.serviceFee}}
                              +{{model.serviceFee}} Service Fee
                          {{/if}}
                        </div>
                    </div>
                    <div class="half-block">
                        <div class="inquery" {{action "showDialog"}}>
                            INQUIRY
                        </div>
                        <div class="wishlist" {{action "updateWishlist" model}}>
                            {{#if model.wishlist}}
                              <img class="like" src="/images/static/liked.png"/> WISHLIST
                            {{else}}
                              <img class="like" src="/images/static/like.png"/> WISHLIST
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="order-time">
                    <span class="fl">I pay per</span>
                  {{#each model.payments as |payment pIndex|}}
                      <span class="month-selector {{unless pIndex 'margin-left-10'}} {{if (eq currentPayCycle payment.cycle) 'active'}}" {{action "changePrice" payment.cycle payment.price}}>{{payment.cycle}}</span>
                  {{/each}}
                    <span class="fr">Month</span>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-map">
        <img src="http://api.map.baidu.com/staticimage?center=116.403874,39.914888&width=1000&height=500&zoom=16"
             style="vertical-align: top"/>
    </div>
</div>

<div class="inquiry-box dialog-box">
    <div class="box-header">
      {{#if model.creatorPhoto}}
          <img class="user-header" src={{model.creatorPhoto}} alt="" />
      {{else}}
          <img class="user-header" src="/images/user_unknown.png" alt="">
      {{/if}}
        Send an Inquiry to <span class="username">{{model.creatorName}}</span>
    </div>
    <div class="box-content">
        <div class="inquiry-form dialog-form">
            <div class="form-row clearfix">
                <div class="col-5">
                    <p>Check in</p>
                    {{bootstrap-datepicker value=currentMessage.checkinDate autoclose=true placeholder="Checkin date" format="yyyy-mm-dd"}}
                </div>
                <div class="col-5">
                    <p>Period</p>
                    {{select-2
                    content=monthMapping
                    value=currentMessage.livingMonth
                    optionValuePath="id"
                    }}
                </div>
                <div class="col-5">
                    <p>Guest</p>
                    {{select-2
                    content=guestMapping
                    value=currentMessage.guestNumber
                    optionValuePath="id"
                    }}
                </div>
                <div class="col-5">
                    <p>PayCycle</p>
                    {{select-2
                    content=payCycleMapping
                    value=currentMessage.payCycle
                    optionValuePath="id"
                    }}

                </div>
                <div class="col-5">
                    <p>price</p>
                    {{input value=currentMessage.price readonly=true}}
                </div>
            </div>
            {{textarea placeholder="please input your message..." value=currentMessage.content}}
            <span class="triangle"></span>
            <div class="form-footer">
              {{#if session.user.logo.downloadFilePath}}
                  <img class="user-header"
                       src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} class="fl" />
              {{else}}
                  <img class="user-header"
                       src="images/user_unknown.png" title={{session.user.firstName}} class="fl" />
              {{/if}}
                <button class="fr" type="submit" disabled {{action "sendMessage"}}>Sent message</button>
            </div>
        </div>
    </div>
</div>