<div class="main-container">
    <div class="main-wrapper search-page clearfix">
        <div class="search-container">
            <div class="search-row">
                <div class="search-group clearfix">
                    <div class="search-item location">
                        {{input placeholder="search address" value=addressFilter}}
                        <span class="circle" {{action "queryListing" "address" addressFilter}}>
                            <img src="/images/static/search.png"/>
                        </span>
                    </div>
                    <div class="search-item subway-area">
                        <img class="icon" src="/images/static/icon-subway.png"/>
                      {{select-2
                      content=lineMapping
                      value=subwayLine
                      optionValuePath="id"
                      searchEnabled=false
                      allowClear=true
                      placeholder="SubwayLine"
                      }}
                    </div>
                    <div class="search-item subway-area no-margin-right">
                        <img class="icon" src="/images/static/icon-global.png"/>
                      {{select-2
                      content=areaMapping
                      value=area
                      optionValuePath="id"
                      allowClear=true
                      placeholder="Area"
                      }}
                    </div>
                </div>
                <div class="search-group clearfix">
                    <div class="search-item s-label">
                        Price
                    </div>
                    <div class="search-item cost">
                      {{select-2
                      content=priceMapping
                      value=price
                      optionValuePath="id"
                      searchEnabled=false
                      allowClear=true
                      placeholder="Price"
                      }}
                    </div>
                    <div class="search-item s-label">
                        BR
                    </div>
                    <div class="search-item room-num">
                      {{select-2
                      content=roomNumberMapping
                      value=bedrooms
                      optionValuePath="id"
                      searchEnabled=false
                      allowClear=true
                      placeholder="Bedrooms"
                      }}
                    </div>
                </div>
                <div class="search-group no-margin-right fr clearfix">
                    <div class="search-item map-search">
                        <p><span class="circle"></span> 地图找房</p>
                    </div>
                </div>
                <div class="search-group clearfix">
                    <div class="search-item s-label">
                        Available:
                    </div>
                    <div class="search-item cond-in">
                        <ul>
                            <li class="{{if (eq availableDate 'all') 'active'}}" {{action "queryListing" "availableDate" "all"}}><span>All</span></li>
                            <li class="{{if (eq availableDate '0') 'active'}}" {{action "queryListing" "availableDate" "0"}}><span>Right Now</span></li>
                            <li class="{{if (eq availableDate '1') 'active'}}" {{action "queryListing" "availableDate" "1"}}><span>One Week</span></li>
                            <li class="{{if (eq availableDate '2') 'active'}}" {{action "queryListing" "availableDate" "2"}}><span>Two Week</span></li>
                            <li class="no-margin-right"><span>One month</span></li>
                        </ul>
                    </div>
                </div>
                <div class="search-group clearfix">
                    <div class="search-item s-label">
                        Type
                    </div>
                    <div class="search-item rent-type">
                        <ul>
                            <li class="all {{if (eq rentType "all") 'active'}}" {{action "queryListing" "rentType" "all"}}>All</li>
                            <li class="part {{if (eq rentType "share") 'active'}}" {{action "queryListing" "rentType" "share"}}>S</li>
                            <li class="full {{if (eq rentType "entire") 'active'}}" {{action "queryListing" "rentType" "entire"}}>E</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="result-container">
            {{#each model as |listing|}}
                <div class="single-result">
                    <div class="flat-pic">
                      {{#if listing.coverPhoto}}
                          <a class="slide-img" style="background-image: url({{listing.coverPhoto.imageUrl}})"></a>
                      {{else}}
                          <a class="slide-img" style="background-image: url(/images/post-5.jpg)"></a>
                      {{/if}}
                    </div>
                    <div class="loc-info">
                        {{#link-to 'listing.detail' listing.id}}
                            <p class="subarea-name">{{listing.house.compound}} - Room {{room-index listing.index}}</p>
                        {{/link-to}}
                        <p><span><img src="/images/static/icon-location.png"/></span>{{listing.house.area}} — {{listing.house.address}}</p>
                        <p><span><img src="/images/static/icon-subway.png"/></span>
                          {{#each listing.house.subwayLines as |subwayLine index|}}
                            {{#if index}},{{/if}}{{subwayLine}}
                          {{/each}}
                        </p>
                        <div class="features">
                          {{#each listing.features as |feature|}}
                              <span class="feature-block">{{feature}}</span>
                          {{/each}}
                        </div>
                    </div>
                    <div class="room-info">
                        <div class="half-block">
                            <p class="room-num"><span>{{listing.house.bedrooms}}</span>BR<span>{{listing.house.bathrooms}}</span>Bath</p>
                            <p class="flat-num"><span>{{listing.house.floor}}</span>F</p>
                            <p class="room-size"><span>{{listing.house.size}}</span><sub>m<sup>2</sup></sub></p>
                            <div class="price fr">
                                <p class="unit">RMB/month</p>
                                <p class="price-num">{{listing.lowestPrice}}</p>
                            </div>
                        </div>
                        <div class="half-block no-border-bottom">
                          {{#if listing.house.isShared}}
                              <span class="part">S</span>
                          {{else}}
                              <span class="full">E</span>
                          {{/if}}
                            <ul class="roommates">
                              {{#each listing.house.flatmates as |flatmate| }}
                                {{#if flatmate.country}}
                                    <li>{{flatmate.country}}</li>
                                {{/if}}
                              {{/each}}
                            </ul>
                            <div class="owner fr">
                                <img src="/images/static/LISA_100.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="list-footer clearfix">
                <div class="pagination fr">
                  {{em-pagination-pager current=page count=totalPage}}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .footer {
        position: fixed;
        height: 40px;
        bottom: 0;
    }
</style>