{{#if model.publishStep}}
  {{#if (eq model.publishStep 1)}}
    {{render "house.publish.apartment" model}}
  {{/if}}
  {{#if (eq model.publishStep 2)}}
    {{render "house.publish.address" model}}
  {{/if}}
  {{#if (eq model.publishStep 3)}}
    {{render "house.publish.photo" model}}
  {{/if}}
  {{#if (eq model.publishStep 4)}}
    {{render "house.publish.flatmate" model}}
  {{/if}}
{{else}}
  <div class="main-container">
    <div class="step-bar">
        <div class="wrapper">
          {{#if session.user.logo.downloadFilePath}}
              <img class="user-header"
                   src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
          {{else}}
              <img class="user-header"
                   src="images/user_unknown.png" title={{session.user.firstName}}>
          {{/if}}
          <span>Getting started is easy! We'll be with you every step of the way</span>
        </div>
    </div>
    <div class="op-wrapper">
        <div class="op-title">
            LIST YOUR SPACE
        </div>
        <div class="home-type-select clearfix">
            <a href="javascript:;" {{action "save" "entire"}}>
                <div class="one-select">
                    <div class="select-pic">
                        <img src="/images/static/Apt.png"/>
                    </div>
                    <div class="title">
                        <p>Entire Apt</p>
                    </div>
                    <div class="intro">
                        <p>You are renting out entire home</p>
                    </div>
                </div>
            </a>
            <a href="javascript:;" {{action "save" "share"}}>
                <div class="one-select no-margin-right">
                    <div class="select-pic">
                        <img src="/images/static/Room.png"/>
                    </div>
                    <div class="title">
                        <p>Private Room</p>
                    </div>
                    <div class="intro">
                        <p>You are renting out private room within a home</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{{/if}}