<div class="main-container">
    <div class="flat-detail-bar">
        <div class="wrapper">
            <a href="#" target="_blank">
                <p class="fl">← BACK TO YOUR LISTING</p>
            </a>
            <a href="#" target="_blank">
                <p class="fr">PREVIEW <span></span></p>
            </a>
        </div>
    </div>

    <div class="edit-container edit-page">
        <div class="left-nav-first left-nav">
            <ul>
                <a href="javascript:;" {{action "changeStep" 1}}>
                    <li class="{{if (eq step 1) 'active'}} {{if model.isCalendarFinished 'finished' 'unfinished'}}">Calendar</li>
                </a>
                <a href="javascript:;" {{action "changeStep" 2}}>
                    <li class="{{if (eq step 2) 'active'}} {{if model.isOverviewFinished 'finished' 'unfinished'}}">Overview</li>
                </a>
                <a href="javascript:;" {{action "changeStep" 4}}>
                    <li class="{{if (eq step 4) 'active'}} {{if model.isMapFinished 'finished' 'unfinished'}}">Address</li>
                </a>
                <a href="javascript:;" {{action "changeStep" 3}}>
                    <li class="{{if (eq step 3) 'active'}} {{if model.isPhotoFinished 'finished' 'unfinished'}}">Photo</li>
                </a>
            </ul>
            {{#if model.listStep}}
                <div class="left-steps">
                    <img src="/images/static/step-3.png"/>
                    <p>MORE STEPS</p>
                    <button class="btn-list-room" disabled>List the room</button>
                </div>
            {{else}}
                <div class="left-steps">
                    <button class="btn-list-room" {{action "changeStatus" listing}}>
                      {{#if model.listings.firstObject.published}}
                          unlist the room
                      {{else}}
                          List the room
                      {{/if}}
                    </button>
                </div>
            {{/if}}
        </div>

        <div class="edit-area">
          {{#if (eq step 1)}}
              {{render 'house.manage.calendar' model.listings.firstObject}}
              <div class="area-footer clearfix margin-top-25">
                  <button class="op-btn btn-next fr" {{action "changeStep" 2}}>Next</button>
              </div>
          {{/if}}
          {{#if (eq step 2)}}
              {{render 'house.manage.apartment-overview' model}}
              <div class="area-footer clearfix margin-top-25">
                  <button class="op-btn btn-next fr" {{action "changeStep" 4}}>Next</button>
              </div>
          {{/if}}
          {{#if (eq step 3)}}
            {{render 'house.manage.room-photo' model.listings.firstObject}}
          {{/if}}
          {{#if (eq step 4)}}
            {{render 'house.manage.map' model}}
            <div class="area-footer clearfix margin-top-25">
                <button class="op-btn btn-next fr" {{action "changeStep" 3}}>Next</button>
            </div>
          {{/if}}
        </div>
    </div>
</div>