<div class="main-container">
  {{partial 'navigation'}}

    <div class="edit-container {{if (eq type 'share') 'listing-room'}}">
        <div class="listing-left-nav">
            <div class="header">
                Listing <sup>{{statistic.totalCount}}</sup>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="{{if (eq status 'All') 'active'}}" {{action "queryHouse" "All" type}}>All</li>
                    <li class="{{if (eq status 'Listed') 'active'}} listed" {{action "queryHouse" "Listed" type}}>Listed</li>
                    <li class="{{if (eq status 'Unlisted') 'active'}} unlisted" {{action "queryHouse" "Unlisted" type}}>Unlisted</li>
                </ul>
            </div>
            <div class="nav-select">
              {{select-2
              content=areas
              value=area
              optionValuePath="id"
              searchEnabled=false
              allowClear=true
              placeholder="Any Area"
              }}
            </div>
            <div class="nav-select">
              {{select-2
              content=roomStatusMapping
              value=roomStatus
              optionValuePath="id"
              searchEnabled=false
              allowClear=true
              placeholder="Any Status"
              }}
            </div>
        </div>
        <div class="listing-area">
            <div class="header">
                <ul>
                    <li class="{{if (eq type 'entire') 'active'}}" {{action "queryHouse" status "entire"}}><span>Apt</span><sup>{{statistic.entireCount}}</sup></li>
                    <li class="{{if (eq type 'share') 'active'}}" {{action "queryHouse" status "share"}}><span>Rooms</span><sup>{{statistic.shareCount}}</sup></li>
                </ul>
                <div class="fr">
                    <input type="search" placeholder="Search apt tenants"/>

                    <div class="expand-close expand {{if (eq type 'share') 'active'}}">
                        <span>Expand All</span>
                        <img src="/images/static/Expand-All.png"/>
                    </div>
                </div>
            </div>
            <div class="apt-room-list">
              {{#if (eq type 'entire')}}
                {{#each model as |house|}}
                  {{#each house.listings itemController="house.listing" as |listing index|}}
                      <div class="single-apt">
                          <div class="apt-container">
                              <div class="left-tag">
                                  <div class="center-tag">
                                      <span class="tenant"></span>
                                  </div>
                              </div>
                              <div class="apt-pic">
                                {{#if listing.model.coverPhoto}}
                                    <a class="slide-img"
                                       style="background-image: url({{listing.model.coverPhoto.imageUrl}})"></a>
                                {{else}}
                                    <a class="slide-img" style="background-image: url(images/tour_box_1.jpg)"></a>
                                {{/if}}
                              </div>
                              <div class="apt-info">
                                  <p class="apt-title">
                                    {{house.compound}},building {{house.building}} → Floor {{house.floor}}, {{house.doorplate}}
                                  </p>
                                {{#link-to 'house.manage' house.id}}Manage Apt{{/link-to}}
                              </div>
                              <div class="op fr">
                                {{#if house.listStep}}
                                  {{#link-to 'house.manage' house.id}}
                                      <button class="op-btn btn-to-list">
                                        {{format-step house.listStep}} to list
                                      </button>
                                  {{/link-to}}
                                {{else}}
                                    <div class="list-status">
                                      {{select-2
                                      content=listingStatusMapping
                                      value=listing.model.status
                                      optionValuePath="id"
                                      searchEnabled=false
                                      }}
                                    </div>
                                {{/if}}
                              </div>
                          </div>
                          <div class="tenant-list">
                            {{#each listing.model.tenants as |tenant|}}
                                <div class="single-tenant">
                                    <div class="left-op">
                                        <img src="/images/static/Menu2x.png">
                                    </div>
                                    <div class="user">
                                        <img class="user-header" src="/images/static/LISA_100.jpg"/>
                                        <img class="flag" src="/images/static/flag-demo.png"/>
                                      {{tenant.name}}
                                    </div>
                                    <div class="tenant-info">
                                        <p>
                                          {{#if house.showName}}
                                            {{house.compound}}, building {{house.building}} → Floor {{house.floor}}, {{house.doorplate}}
                                          {{else}}
                                              New apartment without detailed address info
                                          {{/if}}
                                        </p>

                                        <p class="date-info">{{tenant.contractStartDate}} — {{tenant.contractEndDate}} Next ¥ 14.04.2015</p>

                                        <p class="phone-num">{{tenant.phone}}</p>
                                    </div>
                                    <div class="fr">
                                        <button class="btn-edit op-btn" {{action "editTenant" tenant}}>Edit</button>
                                    </div>
                                    <div class="remove">
                                        <img src="/images/static/remove.png"/>
                                    </div>
                                </div>
                            {{/each}}
                          </div>
                      </div>
                  {{/each}}
                {{/each}}
                  <div class="list-footer clearfix">
                      <div class="pagination fr">
                        {{em-pagination-pager current=page count=totalPage}}
                      </div>
                  </div>
              {{else}}
                {{#each model as |house|}}
                    <div class="single-apt {{unless house.isExpand 'collapsed'}}">
                        <div class="apt-header">
                            <p>
                              {{#if house.showName}}
                                {{house.compound}}, building {{house.building}} → Floor {{house.floor}}, {{house.doorplate}}
                              {{else}}
                                  New apartment without detailed address info
                              {{/if}}
                              {{#link-to 'house.manage' house.id}}Manage Apt{{/link-to}}
                            </p>
                            <span class="triangle fr"></span>
                        </div>
                      {{#each house.listings itemController="house.listing" as |listing index|}}
                          <div>
                              <div class="apt-container">
                                  <div class="left-tag">
                                      <div class="left-tag">
                                          <div class="center-tag">
                                              <span class="seq {{if listing.isAvailable 'available'}} margin-bottom-5">{{room-index index}}</span>
                                              <span class="tenant"></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="apt-pic">
                                    {{#if listing.model.coverPhoto}}
                                        <a class="slide-img"
                                           style="background-image: url({{listing.model.coverPhoto.imageUrl}})"></a>
                                    {{else}}
                                        <a class="slide-img" style="background-image: url(images/tour_box_1.jpg)"></a>
                                    {{/if}}
                                  </div>
                                  <div class="apt-info">
                                    {{#link-to 'house.manage' house.id (query-params activeId=listing.model.id)}}Manage
                                        listing {{/link-to}}
                                  </div>
                                  <div class="op fr">
                                    {{#if listing.model.listStep}}
                                      {{#link-to 'house.manage' house.id}}
                                          <button class="op-btn btn-to-list">
                                            {{format-step house.listStep}} to list
                                          </button>
                                      {{/link-to}}
                                    {{else}}
                                        <div class="list-status">
                                          {{select-2
                                          content=listingStatusMapping
                                          value=listing.model.status
                                          optionValuePath="id"
                                          searchEnabled=false
                                          }}
                                        </div>
                                    {{/if}}
                                  </div>
                              </div>
                              <div class="tenant-list">
                                {{#each listing.model.tenants as |tenant|}}
                                    <div class="single-tenant">
                                        <div class="left-op">
                                            <img src="/images/static/Menu2x.png">
                                        </div>
                                        <div class="user">
                                            <img class="user-header" src="/images/static/LISA_100.jpg"/>
                                            <img class="flag" src="/images/static/flag-demo.png"/>
                                          {{tenant.name}}
                                        </div>
                                        <div class="tenant-info">
                                            <p>
                                              {{#if house.showName}}
                                                {{house.compound}}, building {{house.building}} → Floor {{house.floor}}, {{house.doorplate}}
                                              {{else}}
                                                  New apartment without detailed address info
                                              {{/if}}
                                            </p>

                                            <p class="date-info">{{tenant.contractStartDate}} — {{tenant.contractEndDate}} Next ¥ 14.04.2015</p>

                                            <p class="phone-num">{{tenant.phone}}</p>
                                        </div>
                                        <div class="fr">
                                            <button class="btn-edit op-btn" {{action "editTenant" tenant}}>Edit</button>
                                        </div>
                                        <div class="remove">
                                            <img src="/images/static/remove.png"/>
                                        </div>
                                    </div>
                                {{/each}}
                              </div>
                          </div>
                      {{/each}}
                    </div>
                {{/each}}
                  <div class="list-footer clearfix">
                      <div class="pagination fr">
                        {{em-pagination-pager current=page count=totalPage}}
                      </div>
                  </div>
              {{/if}}
            </div>
        </div>
    </div>
</div>


<!-- edit-tenant-profile box -->
<div class="dialog-box basic-listing-room edit-tenant-profile">
    <div class="box-header">
        <div class="sub-header">
            <p class="fl">Jing'An → LaoXiMen, 204 → Apt. 42</p>
            <p class="fr"><span class="seq available">A</span>Garden Room in French Concession</p>
        </div>
    </div>
    <div class="box-content">
        <div class="user-info clearfix">
            <img class="user-header" src="/images/static/LISA_100.jpg" />
            <img class="flag" src="/images/static/flag-demo.png" />
            <div class="username">
                <span>X Y</span>
            </div>
        </div>
        <div class="user-form">
            <div class="clearfix">
                <div class="form-group col-2">
                    <p>Name</p>
                    <input type="text" placeholder="..." />
                </div>
                <div class="form-group col-2 no-margin-right">
                    <p>ID number</p>
                    <input type="text" placeholder="..." />
                </div>
                <div class="form-group col-2">
                    <p>County</p>
                    <select>
                        <option value="0">Select...</option>
                        <option value="0">A</option>
                        <option value="0">B</option>
                        <option value="0">C</option>
                    </select>
                </div>
                <div class="form-group col-2 no-margin-right">
                    <p>Occupation</p>
                    <select>
                        <option value="0">Select...</option>
                        <option value="0">A</option>
                        <option value="0">B</option>
                        <option value="0">C</option>
                    </select>
                </div>
                <div class="form-group col-2">
                    <p>Email</p>
                    <input type="text" placeholder="..." />
                </div>
                <div class="form-group col-2 no-margin-right">
                    <p>Phone number</p>
                    <input type="text" placeholder="..." />
                </div>
            </div>
            <hr />
            <div class="clearfix">
                <div class="form-group col-date">
                    <p>Contract duration</p>
                    <input type="text" placeholder="Starting date" />
                </div>
                <div class="form-group col-date">
                    <p> </p>
                    <input type="text" placeholder="Ending date" />
                </div>
                <div class="form-group col-4 no-margin-right">
                    <p>Check-out date</p>
                    <input type="text" placeholder="..." />
                </div>
                <div class="form-group col-4">
                    <p>Payment cycle</p>
                    <select>
                        <option value="0">Select...</option>
                        <option value="0">A</option>
                        <option value="0">B</option>
                        <option value="0">C</option>
                    </select>
                </div>
                <div class="form-group col-4">
                    <p>Deposit</p>
                    <input type="text" placeholder="..." />
                </div>
                <div class="form-group col-4">
                    <p>Rent in advance</p>
                    <input type="text" placeholder="..." />
                </div>
                <div class="form-group col-4 no-margin-right">
                    <p>Rent in advance</p>
                    <input type="text" placeholder="..." />
                </div>
            </div>
            <hr/>
            <div class="clearfix history">
                <p class="title">Transaction history</p>
                <div class="form-row success">
                    <div class="history-date">
                        05.08.2014
                    </div>
                    <input type="text" value="3000"/>
                </div>
                <div class="form-row success">
                    <div class="history-date">
                        05.08.2014
                    </div>
                    <input type="text" value="3000"/>
                </div>
                <div class="form-row">
                    <div class="history-date">
                        05.08.2014
                    </div>
                    <input type="text" />
                </div>
                <div class="form-row">
                    <div class="history-date">
                        05.08.2014
                    </div>
                    <input type="text"/>
                </div>
            </div>
            <div class="form-footer">
                <button class="btn-cancel fl">Cancel</button>
                <button class="btn-checkout">Check-Out Today</button>
                <button class="btn-save">Save</button>
            </div>
        </div>
    </div>
</div>