<div class="main-container">
  {{partial 'navigation'}}

    <div class="edit-container {{if (eq type 'share') 'listing-room'}}">
        <div class="listing-left-nav">
            <div class="header">
                Listing <sup>{{statistic.totalCount}}</sup>
            </div>
            <div class="nav-list">
                <ul>
                    <li class="{{if (eq status 'All') 'active'}}" {{action "queryHouse" "All" type}}>All</li>
                    <li class="{{if (eq status 'Listed') 'active'}} listed" {{action "queryHouse" "Listed" type}}>Listed</li>
                    <li class="{{if (eq status 'Unlisted') 'active'}} unlisted" {{action "queryHouse" "Unlisted" type}}>Unlisted</li>
                </ul>
            </div>
            <div class="nav-select">
              {{select-2
              content=areas
              value=area
              optionValuePath="id"
              searchEnabled=false
              allowClear=true
              placeholder="Any Area"
              }}
            </div>
            <div class="nav-select">
              {{select-2
              content=roomStatusMapping
              value=roomStatus
              optionValuePath="id"
              searchEnabled=false
              allowClear=true
              placeholder="Any Status"
              }}
            </div>
        </div>
        <div class="listing-area">
            <div class="header">
                <ul>
                    <li class="{{if (eq type 'entire') 'active'}}" {{action "queryHouse" status "entire"}}><span>Apt</span><sup>{{statistic.entireCount}}</sup></li>
                    <li class="{{if (eq type 'share') 'active'}}" {{action "queryHouse" status "share"}}><span>Rooms</span><sup>{{statistic.shareCount}}</sup></li>
                </ul>
                <div class="fr">
                    <div class="search">
                        {{input type="search" placeholder="Search apt tenants" value=nameFilter}}
                        <img class="search-icon" src="/images/static/search.png"/>
                    </div>

                  {{#if nameFilter}}
                      <div class="expand-close expand">
                          <span>Expand All</span>
                          <img src="/images/static/Expand-All.png"/>
                      </div>
                  {{else}}
                      <div class="expand-close expand {{if (eq type 'share') 'active'}}">
                          <span>Expand All</span>
                          <img src="/images/static/Expand-All.png"/>
                      </div>

                      <div class="expand-close close-all {{if (eq type 'share') 'active'}}">
                          <span>Close All</span>
                          <img src="/images/static/Close-All.png"/>
                      </div>
                  {{/if}}

                </div>
            </div>
            {{#unless nameFilter}}
                <div class="apt-room-list">
                  {{#if (eq type 'entire')}}
                    {{#each model as |house index|}}
                      {{#each house.listings itemController="house.listing" as |listing|}}
                          <div class="single-apt single-room">
                              <div class="apt-container">
                                  <div class="left-tag">
                                      <div class="left-tag">
                                          <div class="center-tag">
                                              <span class="seq margin-bottom-5 {{if listing.model.isAvailable 'available'}}">{{list-index index 1}}</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="apt-pic">
                                    {{#if listing.model.coverPhoto}}
                                        <a class="slide-img"
                                           style="background-image: url({{listing.model.coverPhoto.imageUrl}})"></a>
                                    {{else}}
                                        <a class="slide-img" style="background-image: url(images/tour_box_1.jpg)"></a>
                                    {{/if}}
                                  </div>
                                  <div class="apt-info">
                                      <p class="apt-title">
                                        {{house.compound}},building {{house.building}} → Floor {{house.floor}}, {{house.doorplate}}
                                      </p>
                                      <div class="list-manage">
                                        {{#link-to 'house.manage' house.id}}Manage Apt{{/link-to}}
                                      </div>
                                      <div class="tenant-manage {{if listing.model.showTenants 'active'}}">
                                          <a {{action "showTenants" listing.model}}>
                                              <span class="txt">Manage tenant</span> <span class="triangle"></span>
                                          </a>
                                          <img class="btn-add-tenant" src="/images/static/add-tenant.png" {{action "addTenant" listing.model}} />
                                      </div>
                                  </div>
                                  <div class="op fr">
                                    {{#if house.listStep}}
                                      {{#link-to 'house.manage' house.id}}
                                          <button class="op-btn btn-to-list">
                                            {{format-step house.listStep}} to list
                                          </button>
                                      {{/link-to}}
                                    {{else}}
                                        <div class="list-status">
                                          {{select-2
                                          content=listingStatusMapping
                                          value=listing.model.status
                                          optionValuePath="id"
                                          searchEnabled=false
                                          }}
                                        </div>
                                    {{/if}}
                                  </div>
                              </div>
                              <div class="tenant-list" style="display: {{if listing.model.showTenants 'block' 'none'}}">
                                  <span class="triangle"></span>
                                {{#each listing.model.tenants as |tenant|}}
                                    <div class="single-tenant">
                                        <div class="user">
                                            <img class="user-header" src="/images/static/LISA_100.jpg"/>
                                            <img class="flag" src="/images/static/flag-demo.png"/>
                                            <div class="user-info">
                                                <p class="username">{{tenant.name}}</p>
                                                <p class="current">{{tenant.status.name}}</p>
                                            </div>
                                        </div>
                                        <div class="tenant-info">
                                            <p class="date-info">
                                                {{unknown-generator tenant.contractStartDate}} — {{unknown-generator tenant.contractEndDate}}
                                            </p>

                                            <p class="phone-num">{{unknown-generator tenant.phone}}</p>
                                        </div>
                                        <div class="fr tenant-op">
                                            <span class="op-circle edit-personal-info">
                                                <img src="/images/static/tenant-info.png" {{action "editProfile" tenant}} />
                                            </span>
                                            <span class="op-circle edit-contract">
                                                <img src="/images/static/tenant-contract.png" {{action "editContract" tenant}} />
                                            </span>
                                            <span class="op-circle edit-payment-circle">
                                                <img src="/images/static/tenant-pay.png" {{action "editPayment" tenant}} />
                                            </span>
                                        </div>

                                        <div class="remove" {{action "removeTenant" tenant}}>
                                            <img src="/images/static/remove.png"/>
                                        </div>
                                    </div>
                                {{/each}}
                              </div>
                          </div>
                      {{/each}}
                    {{/each}}
                  {{else}}
                    {{#each model as |house|}}
                        <div class="single-apt {{unless house.isExpand 'collapsed'}}">
                            <div class="apt-header">
                                <p>
                                  {{#if house.showName}}
                                    {{house.compound}}, building {{house.building}} → Floor {{house.floor}}, {{house.doorplate}}
                                  {{else}}
                                      New apartment without detailed address info
                                  {{/if}}
                                  {{#link-to 'house.manage' house.id}}Manage Apt{{/link-to}}
                                </p>
                                <span class="triangle fr" {{action "toggleHouse" house}}></span>
                            </div>
                          {{#each house.listings itemController="house.listing" as |listing index|}}
                              <div>
                                  <div class="apt-container">
                                      <div class="left-tag">
                                          <div class="left-tag">
                                              <div class="center-tag">
                                                  <span class="seq {{if listing.model.isAvailable 'available'}} margin-bottom-5">{{room-index index}}</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="apt-pic">
                                        {{#if listing.model.coverPhoto}}
                                            <a class="slide-img"
                                               style="background-image: url({{listing.model.coverPhoto.imageUrl}})"></a>
                                        {{else}}
                                            <a class="slide-img" style="background-image: url(images/tour_box_1.jpg)"></a>
                                        {{/if}}
                                      </div>
                                      <div class="list-manage">
                                        {{#link-to 'house.manage' house.id (query-params activeId=listing.model.id)}}Manage
                                            listing {{/link-to}}
                                      </div>
                                      <div class="tenant-manage {{if listing.model.showTenants 'active'}}">
                                          <a {{action "showTenants" listing.model}}>
                                              <span class="txt">Manage tenant</span> <span class="triangle"></span>
                                          </a>
                                          <img class="btn-add-tenant" src="/images/static/add-tenant.png" {{action "addTenant" listing.model}} />
                                      </div>
                                      <div class="op fr">
                                        {{#if listing.model.listStep}}
                                          {{#link-to 'house.manage' house.id (query-params activeId=listing.model.id)}}
                                              <button class="op-btn btn-to-list">
                                                {{format-step house.listStep}} to list
                                              </button>
                                          {{/link-to}}
                                        {{else}}
                                            <div class="list-status">
                                              {{select-2
                                              content=listingStatusMapping
                                              value=listing.model.status
                                              optionValuePath="id"
                                              searchEnabled=false
                                              }}
                                            </div>
                                        {{/if}}
                                      </div>
                                  </div>
                                  <div class="tenant-list" style="display: {{if listing.model.showTenants 'block' 'none'}}">
                                    {{#each listing.model.tenants as |tenant|}}
                                        <div class="single-tenant">
                                            <div class="user">
                                                <img class="user-header" src="/images/static/LISA_100.jpg"/>
                                                <img class="flag" src="/images/static/flag-demo.png"/>
                                                <div class="user-info">
                                                    <p class="username">{{tenant.name}}</p>
                                                    <p class="current">{{tenant.status.name}}</p>
                                                </div>
                                            </div>
                                            <div class="tenant-info">
                                                <p class="date-info">
                                                  {{unknown-generator tenant.contractStartDate}} — {{unknown-generator tenant.contractEndDate}}
                                                </p>

                                                <p class="phone-num">{{unknown-generator tenant.phone}}</p>
                                            </div>
                                            <div class="fr tenant-op">
                                                <span class="op-circle edit-personal-info">
                                                    <img src="/images/static/tenant-info.png" {{action "editProfile" tenant}} />
                                                </span>
                                                <span class="op-circle edit-contract">
                                                    <img src="/images/static/tenant-contract.png" {{action "editContract" tenant}} />
                                                </span>
                                                <span class="op-circle edit-payment-circle">
                                                    <img src="/images/static/tenant-pay.png" {{action "editPayment" tenant}} />
                                                </span>
                                            </div>
                                            <div class="remove" {{action "removeTenant" tenant}}>
                                                <img src="/images/static/remove.png"/>
                                            </div>
                                        </div>
                                    {{/each}}
                                  </div>
                              </div>
                          {{/each}}
                        </div>
                    {{/each}}
                  {{/if}}
                  <div class="list-footer clearfix">
                      <div class="pagination fr">
                        {{em-pagination-pager current=page count=totalPage}}
                      </div>
                  </div>
                </div>
            {{else}}
                <div class="apt-room-list with-border">
                  {{#each filteredTenants as |tenant|}}
                    <div class="single-tenant">
                        <div class="user">
                            <img class="user-header" src="/images/static/LISA_100.jpg" />
                            <img class="flag" src="/images/static/flag-demo.png" />
                            <div class="user-info">
                                <p class="username">{{tenant.name}}</p>
                                <p class="current">{{tenant.status.name}}</p>
                            </div>
                        </div>
                        <div class="tenant-info">
                            <p class="date-info">
                              {{unknown-generator tenant.contractStartDate}} — {{unknown-generator tenant.contractEndDate}}
                            </p>
                            <a>Hongkou → Rainbow City → B.4 → A. 145</a>
                        </div>
                        <div class="fr tenant-op">
                            <span class="op-circle edit-personal-info">
                                <img src="/images/static/tenant-info.png" {{action "editProfile" tenant}}>
                            </span>
                            <span class="op-circle edit-contract">
                                <img src="/images/static/tenant-contract.png" {{action "editContract" tenant}}>
                            </span>
                            <span class="op-circle edit-payment-circle">
                                <img src="/images/static/tenant-pay.png" {{action "editPayment" tenant}}>
                            </span>
                        </div>
                    </div>
                  {{/each}}
                </div>
            {{/unless}}

        </div>
    </div>
</div>

<!-- personal-info-box -->
<div class="dialog-box basic-listing-room personal-info-box">
    <div class="box-header">
        <div class="sub-header">
            <p class="fl">Jing'An → LaoXiMen, 204 → Apt. 42</p>
            <p class="fr dialog-switch">
                <span class="op-circle nav-personal-info active">
                    <img src="/images/static/tenant-info.png" {{action "editProfile" currentTenant}} />
                </span>
                <span class="op-circle nav-contract">
                    <img src="/images/static/tenant-contract.png" {{action "editContract" currentTenant}} />
                </span>
                <span class="op-circle nav-payment-circle">
                    <img src="/images/static/tenant-pay.png" {{action "editPayment" currentTenant}} />
                </span>
            </p>
        </div>
    </div>
    <div class="box-content">
        <div class="user-form">
            <div id="personal_info" class="form-block clearfix">
                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>First Name</p>
                        </div>
                        <div class="for-input">
                            {{input placeholder="first name" value=currentTenant.firstName}}
                        </div>
                    </div>
                    <div class="col-2 no-margin-right">
                        <div class="for-label">
                            <p>Last Name</p>
                        </div>
                        <div class="for-input">
                            {{input placeholder="last name" value=currentTenant.lastName}}
                        </div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="col-1">
                        <div class="for-label">
                            <p>ID number</p>
                        </div>
                        <div class="for-input">
                            {{input placeholder="ID number" value=currentTenant.idNumber}}
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Gender</p>
                        </div>
                        <div class="for-input">
                            <div class="sex-select btn-group">
                                <button class="col-2 {{if (eq currentTenant.gender '1') 'active'}}" {{action "changeGender" currentTenant '1'}}>Guy</button>
                                <button class="col-2 {{if (eq currentTenant.gender '2') 'active'}}" {{action "changeGender" currentTenant '2'}}>Girl</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-1">
                        <div class="for-label">
                            <p>Email</p>
                        </div>
                        <div class="for-input">
                            {{input placeholder="Email" value=currentTenant.email}}
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Phone number</p>
                        </div>
                        <div class="for-input">
                            {{input placeholder="Phone Number" value=currentTenant.phone}}
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Occupation</p>
                        </div>
                        <div class="for-input">
                          {{select-2
                          content=occupationMapping
                          value=currentTenant.occupation
                          optionValuePath="id"
                          allowClear=true
                          placeholder="Choose Occupation"
                          }}
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Nationality</p>
                        </div>
                        <div class="for-input">
                          {{select-2
                          content=countryMapping
                          value=currentTenant.country
                          optionValuePath="id"
                          allowClear=true
                          placeholder="Choose County"
                          }}
                        </div>
                    </div>
                </div>
                <div class="form-footer fr">
                    <button class="op-btn btn-save" {{action "saveTenant" currentTenant}}>Save</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- contract-box -->
<div class="dialog-box basic-listing-room contract-box">
    <div class="box-header">
        <div class="sub-header">
            <p class="fl">Jing'An → LaoXiMen, 204 → Apt. 42</p>
            <p class="fr dialog-switch">
                <span class="op-circle nav-personal-info">
                    <img src="/images/static/tenant-info.png" {{action "editProfile" currentTenant}} />
                </span>
                <span class="op-circle nav-contract active">
                    <img src="/images/static/tenant-contract.png" {{action "editContract" currentTenant}} />
                </span>
                <span class="op-circle nav-payment-circle">
                    <img src="/images/static/tenant-pay.png" {{action "editPayment" currentTenant}} />
                </span>
            </p>
        </div>
    </div>
    <div class="box-content">
        <div class="user-form">
            <div id="contract" class="form-block clearfix">
                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Starting Date</p>
                        </div>
                        <div class="for-input">
                          {{bootstrap-datepicker value=currentTenant.contractStartDate autoclose=true placeholder="Starting date" endDate=currentTenant.contractEndDate format="yyyy-mm-dd"}}
                        </div>
                    </div>
                    <div class="col-2 no-margin-right">
                        <div class="for-label">
                            <p>Ending Date</p>
                        </div>
                        <div class="for-input">
                          {{bootstrap-datepicker value=currentTenant.contractEndDate autoclose=true placeholder="Ending date" startDate=currentTenant.contractStartDate format="yyyy-mm-dd"}}
                        </div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Payment Cycle</p>
                        </div>
                        <div class="for-input">
                          {{select-2
                          content=payCycleMapping
                          value=currentTenant.paymentCycle
                          optionValuePath="id"
                          allowClear=true
                          placeholder="Choose Payment Cycle"
                          }}
                        </div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Rent in advance</p>
                        </div>
                        <div class="for-input">
                          {{input placeholder="Rent in advance" value=currentTenant.advanceDay}}
                        </div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Price</p>
                        </div>
                        <div class="for-input">
                          {{input placeholder="Price" value=currentTenant.price}}
                        </div>
                    </div>
                    <div class="col-2 no-margin-right">
                        <div class="for-label">
                            <p>Fee</p>
                        </div>
                        <div class="for-input">
                          {{input placeholder="Fee" value=currentTenant.serviceFee}}
                        </div>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <div class="col-2">
                        <div class="for-label">
                            <p>Deposit</p>
                        </div>
                        <div class="for-input">
                          {{input placeholder="Deposit" value=currentTenant.deposit}}
                        </div>
                    </div>
                </div>
                <div class="form-footer fr">
                    <button class="op-btn btn-save" {{action "saveTenant" currentTenant}}>Save</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- payment-circle-box -->
<div class="dialog-box basic-listing-room payment-circle-box">
    <div class="box-header">
        <div class="sub-header">
            <p class="fl">Jing'An → LaoXiMen, 204 → Apt. 42</p>
            <p class="fr dialog-switch">
                <span class="op-circle nav-personal-info">
                    <img src="/images/static/tenant-info.png" {{action "editProfile" currentTenant}} />
                </span>
                <span class="op-circle nav-contract">
                    <img src="/images/static/tenant-contract.png" {{action "editContract" currentTenant}} />
                </span>
                <span class="op-circle nav-payment-circle active">
                    <img src="/images/static/tenant-pay.png" {{action "editPayment" currentTenant}} />
                </span>
            </p>
        </div>
    </div>
    <div class="box-content">
        <div class="user-form">
            <div id="payment-circle" class="form-block clearfix">
                <div class="form-group form-header clearfix">
                    <div class="col-6 col-zero">
                        <br/>
                    </div>
                    <div class="col-6 col-one">
                        <span>Next Payment</span>
                    </div>
                    <div class="col-6 col-two">
                        <span>Remaining</span>
                    </div>
                    <div class="col-6 col-three">
                        <span>Pay Date</span>
                    </div>
                    <div class="col-6 col-four">
                        <span>Record</span>
                    </div>
                    <div class="col-6 col-five">
                        <span>Status</span>
                    </div>
                    <div class="col-6 col-six">
                        <span>Note</span>
                    </div>
                </div>
                <div class="scroll-content">
                  {{#each currentTenant.paymentRecords as |paymentRecord pIndex|}}
                    {{#unless (eq paymentRecord.type 'refund')}}
                        <div class="form-group">
                          {{#each paymentRecord.transactionRecords as |transactionRecord index|}}
                              <div class="inner-group clearfix">
                                  <div class="col-6 col-zero">
                                    {{#unless index}}
                                        <span class="seq">{{pIndex}}</span>
                                    {{else}}
                                        <br/>
                                    {{/unless}}
                                  </div>
                                  <div class="col-6 col-one">
                                    {{#unless index}}
                                        <p>{{unknown-generator paymentRecord.paymentDate}}</p>
                                    {{else}}
                                        <br/>
                                    {{/unless}}
                                  </div>
                                  <div class="col-6 col-two">
                                    {{#unless index}}
                                        <p>&yen; {{paymentRecord.balance}}</p>
                                    {{else}}
                                        <br/>
                                    {{/unless}}
                                  </div>
                                  <div class="col-6 col-three">
                                    {{bootstrap-datepicker class="date-input" value=transactionRecord.transactionDate autoclose=true placeholder="..." format="yyyy-mm-dd"}}
                                  </div>
                                  <div class="col-6 col-four">
                                      <span class="money-tag">&yen;</span>
                                    {{input class="fee-input" placeholder="..." value=transactionRecord.account}}
                                  </div>
                                  <div class="col-6 col-five">
                                      {{#if transactionRecord.isPaid}}
                                          <button class="op-btn btn-confirm" disabled>已付</button>
                                      {{else}}
                                        {{#if transactionRecord.enablePay}}
                                            <button class="op-btn btn-confirm" {{action 'confirmTransaction' transactionRecord}}>确定</button>
                                        {{else}}
                                            <button class="op-btn btn-confirm" disabled>确定</button>
                                        {{/if}}
                                      {{/if}}
                                  </div>
                                  <div class="col-6 col-six">
                                    {{input  placeholder="..." value=transactionRecord.remark}}
                                  </div>
                                  <div class="col-6 col-seven">
                                    {{#unless index}}
                                        <div class="add-payment-record op">
                                            <img src="/images/static/Add.png" {{action "addTransactionRecord" paymentRecord}} />
                                        </div>
                                    {{else}}
                                        <div class="remove op">
                                            <img src="/images/static/remove.png" {{action "removeTransactionRecord" transactionRecord paymentRecord}} />
                                        </div>
                                    {{/unless}}
                                  </div>
                              </div>
                          {{/each}}
                        </div>
                    {{else}}
                        <div class="form-group refund-group no-border-bottom">
                          {{#each paymentRecord.transactionRecords as |transactionRecord index|}}
                            <div class="inner-group clearfix">
                                <div class="col-6 col-zero">
                                    <span class="seq available"></span>
                                </div>
                                <div class="col-6 col-one">
                                    <p>{{unknown-generator paymentRecord.paymentDate}}</p>
                                </div>
                                <div class="col-6 col-two">
                                    <p>&yen; {{paymentRecord.balance}}</p>
                                </div>
                                <div class="col-6 col-three">
                                  {{bootstrap-datepicker class="date-input" value=transactionRecord.transactionDate autoclose=true placeholder="..." format="yyyy-mm-dd"}}
                                </div>
                                <div class="col-6 col-four">
                                    <span class="money-tag">-&yen;</span>
                                  {{input class="fee-input refund-fee" placeholder="..." value=transactionRecord.account}}
                                </div>
                                <div class="col-6 col-five">
                                  {{#if transactionRecord.isPaid}}
                                      <button class="op-btn btn-refund" disabled>已退</button>
                                  {{else}}
                                    {{#if transactionRecord.enablePay}}
                                        <button class="op-btn btn-refund" {{action 'confirmTransaction' transactionRecord}}>退款</button>
                                    {{else}}
                                        <button class="op-btn btn-refund" disabled>退款</button>
                                    {{/if}}
                                  {{/if}}
                                </div>
                                <div class="col-6 col-six">
                                    {{input  placeholder="..." value=transactionRecord.remark}}
                                </div>
                                <div class="col-6 col-seven">
                                    <div class="remove op">
                                        <img src="/images/static/remove.png" {{action "removeTransactionRecord" transactionRecord paymentRecord}} />
                                    </div>
                                </div>
                            </div>
                          {{/each}}
                        </div>
                    {{/unless}}
                  {{/each}}
                </div>
                <div class="form-footer">
                    <div class="fr">
                        {{#if currentTenant.refundEnable}}
                            <button class="op-btn btn-checkout"  {{action "checkoutTenant" currentTenant}}>Check-out / Refund</button>
                        {{else}}
                            <button class="op-btn btn-checkout" disabled >Check-out / Refund</button>
                        {{/if}}
                        <button class="op-btn btn-save" {{action "saveTenant" currentTenant}}>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
