{{#if model.house.publishStep}}
  {{#if (eq model.house.publishStep 1)}}
    {{render "house.publish.apartment" model.house}}
  {{/if}}
  {{#if (eq model.house.publishStep 2)}}
    {{render "house.publish.address" model.house}}
  {{/if}}
  {{#if (eq model.house.publishStep 3)}}
    {{render "house.publish.photo" model.house}}
  {{/if}}
  {{#if (eq model.house.publishStep 4)}}
    {{render "house.publish.flatmate" model.house}}
  {{/if}}
{{else}}
    <div class="main-container">
        <div class="flat-detail-bar">
            <div class="wrapper">
                <a href="#" target="_blank">
                    <p class="fl">← BACK TO YOUR LISTING</p>
                </a>
                <a href="#" target="_blank">
                    <p class="fr">PREVIEW <span></span></p>
                </a>
            </div>
        </div>
        <div class="edit-container edit-page">
            <div class="left-nav-first left-nav">
                <ul>
                  <a href="javascript:;" {{action "changeActive" "apt"}}>
                      <li class="{{if (eq activeType 'apt') 'active'}} {{if model.house.isApartmentFinished 'finished' 'unfinished'}}">Apartment</li>
                  </a>
                  {{#unless model.house.bedroomEditable}}
                  <a href="javascript:;" {{action "changeActive" "flatmate"}} style="display: none">
                      <li class="{{if (eq activeType 'flatmate') 'active'}} {{if model.house.isFlatmateFinished 'finished' 'unfinished'}}">Flatmates <sup>{{model.house.bedrooms}}</sup></li>
                  </a>
                  {{/unless}}
                  {{#each model.house.flatmates as |flatmate index|}}
                    <a href="javascript:;" {{action "changeActive" "room" flatmate.listingId}}>
                        <li class="{{if (eq model.activeId flatmate.listingId) 'active'}} {{if flatmate.isAvailable 'available' 'unavailable'}}"><div class="room-num">{{room-index index}}</div></li>
                    </a>
                  {{/each}}
                </ul>
            </div>
            {{#unless (eq activeType 'flatmate')}}
            <div class="left-nav-second left-nav">
              {{#if (eq activeType 'apt')}}
                  <ul>
                      <a href="javascript:;" {{action "changeStep" 1}}>
                          <li class="{{if model.house.isDetailFinished 'finished' 'unfinished'}} {{if (eq step 1) 'active'}}"><span>Overview</span></li>
                      </a>
                      <a href="javascript:;" {{action "changeStep" 3}}>
                          <li class="{{if model.house.isAddressFinished 'finished' 'unfinished'}} {{if (eq step 3) 'active'}}"><span>Address</span></li>
                      </a>
                      <a href="javascript:;" {{action "changeStep" 2}}>
                          <li class="{{if model.house.isPhotoFinished 'finished' 'unfinished'}} {{if (eq step 2) 'active'}}"><span>Photo</span></li>
                      </a>
                  </ul>
              {{/if}}
              {{#if (eq activeType 'room')}}
                {{#each model.house.listings as |listing index|}}
                  {{#if (eq model.activeId listing.id)}}
                      <ul>
                          <a href="javascript:;" {{action "changeStep" 1}}>
                              <li class="{{if listing.isCalendarFinished 'finished' 'unfinished'}} {{if (eq step 1) 'active'}}"><span>Calendar</span></li>
                          </a>
                          <a href="javascript:;" {{action "changeStep" 2}}>
                              <li class="{{if listing.isOverviewFinished 'finished' 'unfinished'}} {{if (eq step 2) 'active'}}"><span>Overview</span></li>
                          </a>
                          <a href="javascript:;" {{action "changeStep" 3}}>
                              <li class="{{if listing.isPhotoFinished 'finished' 'unfinished'}} {{if (eq step 3) 'active'}}"><span>Photo</span></li>
                          </a>
                      </ul>
                    {{#if listing.listStep}}
                        <div class="left-steps">
                            <img src={{listing.listStepUrl}} />
                            <p>MORE STEPS</p>
                            <button class="btn-list-room" disabled>List the room</button>
                        </div>
                    {{else}}
                        <div class="left-steps">
                            <button class="btn-list-room" {{action "changeStatus" listing}}>
                              {{#if listing.published}}
                                  unlist the room
                              {{else}}
                                  List the room
                              {{/if}}
                            </button>
                        </div>
                    {{/if}}
                  {{/if}}
                {{/each}}
              {{/if}}
            </div>
            {{/unless}}
            <div class="edit-area">
              {{#if (eq activeType 'apt')}}
                {{#if (eq step 1)}}
                    {{render 'house.manage.apartment-overview' model.house}}
                    <div class="area-footer clearfix margin-top-25">
                        <button class="op-btn btn-next fr" {{action "changeStep" 3}}>Next</button>
                    </div>
                {{/if}}
                {{#if (eq step 2)}}
                  {{render 'house.manage.apartment-photo' model.house}}
                {{/if}}
                {{#if (eq step 3)}}
                  {{render 'house.manage.map' model.house}}
                  <div class="area-footer clearfix margin-top-25">
                      <button class="op-btn btn-next fr" {{action "changeStep" 2}}>Next</button>
                  </div>
                {{/if}}
              {{/if}}
              {{#if (eq activeType 'flatmate')}}
                {{render 'house.manage.flatmate' model.house}}
              {{/if}}
              {{#if (eq activeType 'room')}}
                {{#if (eq step 1)}}
                  {{#each model.house.listings as |listing index|}}
                    {{#if (eq model.activeId listing.id)}}
                      {{render 'house.manage.calendar' listing}}
                      <div class="area-footer clearfix margin-top-25">
                          <button class="op-btn btn-next fr" {{action "changeStep" 2}}>Next</button>
                      </div>
                    {{/if}}
                  {{/each}}
                {{/if}}
                {{#if (eq step 2)}}
                  {{render 'house.manage.room-overview' model}}
                  <div class="area-footer clearfix margin-top-25">
                      <button class="op-btn btn-next fr" {{action "changeStep" 3}}>Next</button>
                  </div>
                {{/if}}

                {{#if (eq step 3)}}
                  {{#each model.house.listings as |listing index|}}
                    {{#if (eq model.activeId listing.id)}}
                      {{render 'house.manage.room-photo' listing}}
                    {{/if}}
                  {{/each}}
                {{/if}}
              {{/if}}
            </div>
        </div>
    </div>
{{/if}}