<div class="dialog-container">
    <div class="row">
        <div class="left-block">
            <div class="send-block clearfix">
                <p>Conversation with <strong>{{model.speakerName}}</strong></p>
                <div class="msg-block inquiry-block">
                    <p>Inquiry on <span>{{model.listingTitle}}</span></p>
                    <p>{{model.checkinDate}} ({{model.livingMonth}} months) · {{model.guestNumber}} guests · {{model.payCycle}} months cycle</p>
                    <span class="price">&yen; {{model.price}}</span>
                </div>
                {{textarea placeholder="please write your message here" value=newMessageContent}}
                <button class="op-btn btn-send fr" {{action 'saveMessage'}}>Send Message</button>
            </div>
        </div>
        <div class="right-block">
            <div class="dialog-user">
                <div class="user-header">
                    <img src="/images/static/LISA_100.jpg"/>
                </div>
                <div class="user-info">
                    <p class="username">Lisa</p>
                    <p>Shanghai, China</p>
                    <p>注册时间: 2012</p>
                </div>
            </div>
        </div>
    </div>
    {{#each model.records as |messageRecord|}}
    <div class="row">
        <div class="left-block">
            <div class="msg-list">
              {{#if messageRecord.mark}}
                  <div class="msg-block inquiry-block">
                      <p>Inquiry on <span>Big nest at the heart of Jing’An</span></p>
                      <p>2015/06/03</p>
                  </div>
              {{/if}}
                <div class="msg-block {{if messageRecord.isSender 'my-block' 'other-block'}} clearfix">
                    <div class="triangle"></div>
                    <div class="user-header">
                      {{#if messageRecord.senderPhoto}}
                          <img src="{{messageRecord.senderPhoto}}" title="{{messageRecord.senderName}}">
                      {{else}}
                          <img src="/images/user_unknown.png" title="{{messageRecord.senderName}}" >
                      {{/if}}
                    </div>
                    <div class="dialog">
                        <p>{{messageRecord.content}}</p>
                        <p class="date fl">{{messageRecord.createTime}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{#if messageRecord.mark}}
        <div class="right-block">
            <div class="flat-info">
                <div class="flat-pic">
                    <a class="slide-img" style="background-image: url(/images/static/single-flat-pic.jpg)"></a>
                </div>
                <div class="loc-info">
                    <p><span></span>静安 — 江宁路/康定路 1033</p>
                    <p><span></span>7, 8, 12号线</p>

                    <div class="features">
                        <span class="feature-block">TV</span>
                        <span class="feature-block">Aircon</span>
                    </div>
                    <div class="price fr">
                        <p class="unit">元/月</p>
                        <p class="price-num">12500</p>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>