<div class="msg-container">
    <div class="msg-header">
        <div class="msg-filter">
          {{select-2
          content=statistics
          value=status
          optionValuePath="type"
          }}
        </div>
        <div class="pagination fr">
          {{em-pagination-pager current=page count=totalPage}}
        </div>
    </div>
    <div class="msg-list">
        {{#each model as |message index| }}
            <div class="single-msg clearfix">
                <div class="user-header">
                  {{#if message.speakerPhoto}}
                      <img src={{message.speakerPhoto}} title={{message.speakerName}} />
                  {{else}}
                      <img src="/images/user_unknown.png" title={{message.speakerName}} />
                  {{/if}}
                </div>
                <div class="msg-sender">
                    <p>{{message.speakerName}}</p>
                    <p>{{ago message.lastUpdateTime}}</p>
                </div>
                {{#link-to 'inbox.detail' message.id}}
                <div class="msg-detail">
                    <p>{{message.lastContent}}</p>
                </div>
                {{/link-to}}
                <!--<div class="msg-status">
                    <p class="status accepted">Accepted</p>
                    <p>$201</p>
                </div>-->
            </div>
        {{/each}}
        <div class="list-footer clearfix">
            <div class="pagination fr">
              {{em-pagination-pager current=page count=totalPage}}
            </div>
        </div>
    </div>
</div>


<style>
    .list-content{
        width:150px;
    }
</style>