<header style="position:inherit;background:white;">
    <div id="top_line" style="border-bottom:none;font-size:13px">
        <div class="container" style="color:rgb(51,51,51)">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"
                     style="font-size:15px;font-family:'Gochi Hand', cursive;padding-top:8px">
                  {{#link-to 'index'}}<strong style="color:rgb(51,51,51)">FlatmateShanghai</strong>{{/link-to}}
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul id="top_links">
                      {{#if session.isAuthenticated}}
                          <li>
                              <div class="dropdown dropdown-access">
                                  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{#if session.user.logo.downloadFilePath}}
                                        <img style="border-radius:50%;width:37px;margin-right:10px;border:1px solid white"
                                             src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
                                    {{else}}
                                        <img style="border-radius:50%;width:37px;margin-right:10px;border:1px solid white"
                                             src="/images/user_unknown.png" title="Not Upload Yet">
                                    {{/if}}

                                    <strong style="color:black">Hi, {{session.user.firstName}}</strong>

                                  </a>
                                  <ul class="dropdown-menu" id="cart_items">
                                      <li style="padding-left: 15px">
                                          <strong>{{#link-to 'profile.edit-profile'}}Edit Profile{{/link-to}}</strong>
                                      </li>
                                      <li>
                                          <strong>{{#link-to 'house.list'}}My Listings{{/link-to}}</strong>
                                      </li>
                                      <li>
                                          <strong>{{#link-to 'wishlist'}}Wish Lists{{/link-to}}</strong>
                                      </li>
                                      <li>
                                          <strong><a href="javascript:;" {{action "invalidateSession"}}>Log Out</a></strong>
                                      </li>
                                  </ul>
                              </div>
                          </li>
                          <li>
                            {{#link-to 'inbox.list'}}
                                <i class="icon_set_1_icon-84"
                                   style="color:rgb(51,51,51); margin-top:-15px; position: absolute;font-size: 25px;"></i>
                            {{/link-to}}
                          </li>
                          <li style="margin-left: 33px;margin-right: 0">
                            {{#link-to 'house.add' class="btn_1 btn-blue"}}
                                List your Room
                            {{/link-to}}
                          </li>
                      {{else}}
                          <li>
                              <div class="dropdown dropdown-access">
                                  <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"
                                     id="access_link">Sign in</a>

                                  <div class="dropdown-menu">
                                      <form {{action 'authenticate' on='submit'}}>
                                          <!--<div class="row">
                                              <div class="col-md-6 col-sm-6 col-xs-6">
                                                  <a href="#" class="bt_facebook">
                                                      <i class="icon-facebook"></i>Facebook </a>
                                              </div>
                                              <div class="col-md-6 col-sm-6 col-xs-6">
                                                  <a href="#" class="bt_paypal">
                                                      <i class="icon-paypal"></i>Paypal </a>
                                              </div>
                                          </div>
                                          <div class="login-or">
                                              <hr class="hr-or">
                                              <span class="span-or">or</span>
                                          </div>-->
                                          <div class="form-group">
                                            {{input value=identification placeholder='Email' id="inputUsernameEmail" class='form-control'}}
                                          </div>
                                          <div class="form-group">
                                            {{input value=password placeholder='Password' id="inputPassword"  class='form-control' type='password'}}
                                          </div>
                                          {{#link-to "forgot-password" id="forgot_pw"}}Forgot password?{{/link-to}}
                                          <input type="submit" name="" value="Sign in" id="Sign_in" class="button_drop outline">
                                          <!--<a class="button_drop outline" {{action "register"}}>Sign_up</a>-->
                                          {{#link-to "register" id="Sign_up" class="button_drop outline"}}Sign_up{{/link-to}}
                                      </form>
                                  </div>
                              </div>
                              <!-- End Dropdown access -->
                          </li>
                          <li><a href="javascript:;">
                              <i class="icon_set_1_icon-84"
                                 style="color:#f7941d; margin-top:-15px; position: absolute;font-size: 25px;"></i></a>
                          </li>
                          <li style="margin-left: 33px;margin-right: 0">
                              <a href="javascript:;" class="btn_1 btn-blue">
                                  List your Room
                              </a>
                          </li>
                      {{/if}}
                    </ul>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End container-->
    </div>
    <!-- End top line-->
</header><!-- End Header -->

