<header>
    <div id="top_line">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>0045 043204434</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <ul id="top_links">
                        <li>
                          {{#if session.isAuthenticated}}
                              Hi, {{session.user.firstName}}  <a href="javascript:;" {{ action 'invalidateSession' }} >Logout</a>
                          {{else}}
                              <div class="dropdown dropdown-access">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">Sign in</a>
                                  <div class="dropdown-menu">
                                      <form {{action 'authenticate' on='submit'}}>
                                          <div class="row">
                                              <div class="col-md-6 col-sm-6 col-xs-6">
                                                  <a href="#" class="bt_facebook">
                                                      <i class="icon-facebook"></i>Facebook </a>
                                              </div>
                                              <div class="col-md-6 col-sm-6 col-xs-6">
                                                  <a href="#" class="bt_paypal">
                                                      <i class="icon-paypal"></i>Paypal </a>
                                              </div>
                                          </div>
                                          <div class="login-or">
                                              <hr class="hr-or">
                                              <span class="span-or">or</span>
                                          </div>
                                          <div class="form-group">
                                            {{input value=identification placeholder='Email' id="inputUsernameEmail" class='form-control'}}
                                          </div>
                                          <div class="form-group">
                                            {{input value=password placeholder='Password' id="inputPassword"  class='form-control' type='password'}}
                                          </div>
                                          <a id="forgot_pw" href="#">Forgot password?</a>
                                          <input type="submit" name="" value="Sign in" id="Sign_in" class="button_drop">
                                          <input type="submit" name="" value="Sign up" id="Sign_up" class="button_drop outline">
                                      </form>
                                  </div>
                              </div><!-- End Dropdown access -->
                          {{/if}}
                        </li>
                        <li><a href="#" id="wishlist_link">Wishlist</a></li>
                    </ul>
                </div>
            </div><!-- End row -->
        </div><!-- End container-->
    </div><!-- End top line-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div id="logo">
                    <a href="index.html"><img src="/images/logo.png" width="160" height="34" alt="City tours" data-retina="true" class="logo_normal"></a>
                    <a href="index.html"><img src="/images/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true" class="logo_sticky"></a>
                </div>
            </div>
            <nav class="col-md-9 col-sm-9 col-xs-9">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:;"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="/images/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                          {{#link-to "profile.dashboard"}}profile{{/link-to}}
                        </li>
                        <li>
                          {{#link-to "listing.list"}}listing{{/link-to}}
                        </li>
                    </ul>
                </div><!-- End main-menu -->
                <ul id="top_tools">
                    <li>
                        <div class="dropdown dropdown-search">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></a>
                            <div class="dropdown-menu">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search...">
                                            <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" style="margin-left:0;">
                                                <i class="icon-search"></i>
                                            </button>
                                            </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown dropdown-cart">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>Cart (0) </a>
                            <ul class="dropdown-menu" id="cart_items">
                                <li>
                                    <div class="image"><img src="/images/thumb_cart_1.jpg" alt=""></div>
                                    <strong>
                                        <a href="#">Louvre museum</a>1x $36.00 </strong>
                                    <a href="#" class="action"><i class="icon-trash"></i></a>
                                </li>
                                <li>
                                    <div class="image"><img src="/images/thumb_cart_2.jpg" alt=""></div>
                                    <strong>
                                        <a href="#">Versailles tour</a>2x $36.00 </strong>
                                    <a href="#" class="action"><i class="icon-trash"></i></a>
                                </li>
                                <li>
                                    <div class="image"><img src="/images/thumb_cart_3.jpg" alt=""></div>
                                    <strong>
                                        <a href="#">Versailles tour</a>1x $36.00 </strong>
                                    <a href="#" class="action"><i class="icon-trash"></i></a>
                                </li>
                                <li>
                                    <div>Total: <span>$120.00</span></div>
                                    <a href="cart.html" class="button_drop">Go to cart</a>
                                    <a href="payment.html" class="button_drop outline">Check out</a>
                                </li>
                            </ul>
                        </div><!-- End dropdown-cart-->
                    </li>
                </ul>
            </nav>
        </div>
    </div><!-- container -->
</header><!-- End Header -->
