<div class="nav-index-top bg-white nav-top">
    <div class="wrapper">
        <div class="resp-nav-left none-display-max display-768">
            <img src="/images/static/menu-opener.png" />
        </div>
        <div class="resp-nav-logo none-display-max display-768">
          {{#link-to 'index'}}
            <img src="/images/static/logo-mini.png" />
          {{/link-to}}
        </div>
        <div class="nav-left none-display-768 fl">
          {{#link-to 'index'}}
            <img src="/images/static/logo.png" />
          {{/link-to}}
        </div>
        <div class="nav-right none-display-768 fr">
          {{#if session.isAuthenticated}}
            <div class="nav-user fl">
              {{#if session.user.logo.downloadFilePath}}
                  <img class="fl" src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
              {{else}}
                  <img class="fl" src="/images/user_unknown.png" title="Not Upload Yet" />
              {{/if}}
                <a id="user_profile_dp"><span>{{session.user.firstName}}</span> <span class="triangle"></span></a>
                <div class="dropdown-user-profile">
                    <span class="triangle"></span>
                    <ul>
                      {{#link-to 'dashboard'}}<li>Dashboard</li>{{/link-to}}
                      {{#link-to 'profile.edit-profile'}}<li>Profile</li>{{/link-to}}
                      {{#link-to 'house.list'}}<li>Listings</li>{{/link-to}}
                      {{#link-to 'inbox.list'}}<li>Inbox</li>{{/link-to}}
                      {{#link-to 'account.notification'}}<li>Account</li>{{/link-to}}
                      {{#link-to 'wishlist'}}<li>Wishlist</li>{{/link-to}}
                      <a href="javascript:;" {{action "invalidateSession" bubbles=true}}><li>Logout</li></a>
                    </ul>
                </div>
            </div>
            <div class="nav-notify fl">
              {{#link-to 'inbox.list'}}
                <p>inbox <span>({{session.unreadMessages.totalCount}})</span></p>
              {{/link-to}}
            </div>
            <div class="nav-list-space fl">
                <button class="btn-list-space" {{action "listing"}}>List your space</button>
            </div>
          {{else}}
              <div class="nav-login fl">
                  <a class="sign_up_link" target="_blank"><p>Sign Up</p></a>
                  <a class="login_link" target="_blank"><p>Log In</p></a>
              </div>
              <div class="nav-list-space fl">
                  <button class="btn-list-space">List your space</button>
              </div>
          {{/if}}
        </div>
    </div>
</div>

<div class="overlay-full-screen"></div>
<div class="resp-left-menu none-display-max display-768">
    {{#if session.isAuthenticated}}
        <div class="user-wrapper">
            <div class="nav-user">
              {{#if session.user.logo.downloadFilePath}}
                  <img src={{session.user.logo.downloadFilePath}} title={{session.user.firstName}} />
              {{else}}
                  <img src="/images/user_unknown.png" title="Not Upload Yet" />
              {{/if}}
                <a href="javascript:;"><span>{{session.user.firstName}}</span></a>
            </div>
        </div>
        <div class="wrapper with-user">
            <div class="menu-container">
                <ul>
                  {{#link-to 'profile.edit-profile'}}<li>Profile</li>{{/link-to}}
                  {{#link-to 'house.list'}}<li>Listings</li>{{/link-to}}
                  {{#link-to 'house.list'}}<li>Inbox</li>{{/link-to}}
                  {{#link-to 'wishlist'}}<li>Wishlist</li>{{/link-to}}
                  <a href="javascript:;"><li>Search</li></a>
                  <a href="javascript:;" {{action "invalidateSession" bubbles=true}}><li>Logout</li></a>
                </ul>
            </div>
        </div>
    {{else}}
        <div class="wrapper">
            <div class="menu-container">
                <ul>
                    <a class="sign_up_link" target="_blank"><li>Sign Up</li></a>
                    <a class="login_link" target="_blank"><li>Log In</li></a>
                    <a href="#"><li class="active">Where to live?</li></a>
                    <a href="#"><li>Search</li></a>
                </ul>
            </div>
        </div>
    {{/if}}
</div>

<!--  注册 -->
<div class="auto-dialog-box login-box" id="reg_box">
    <div class="dialog-table">
        <div class="dialog-cell">
            <div class="box-content">
                <div class="login-header">
                    <div class="login-type-select clearfix">
                        <div class="col-2 active phone-reg-tab">
                            <span>电话注册</span>
                        </div>
                        <div class="col-2 mail-reg-tab">
                            <span>邮箱注册</span>
                        </div>
                    </div>
                </div>
                <div class="basic-content">
                    <div class="login-form" id="phone_reg">
                        <div class="form-row no-margin-top ">
                            <input type="text" class="danger" placeholder="Name"/>
                            <span class="hint danger">错误提示</span>
                        </div>
                        <div class="form-row">
                            <input type="text" placeholder="Phone"/>
                        </div>
                        <div class="form-row clearfix">
                            <div class="col-3">
                                <input type="text" placeholder="短信验证码"/>
                            </div>
                            <div class="col-3 col-btn">
                                <button class="op-btn btn-send-code">发送验证码</button>
                            </div>
                        </div>
                        <div class="form-row ">
                            <input type="password" placeholder="Password"/>
                        </div>
                        <div class="form-row ">
                            <button class="op-btn" disabled>Register</button>
                        </div>
                        <div class="other-ways">
                            <div class="clearfix">
                                <p>已有账号?</p><p class="nav-login nav-switch">直接登录</p>
                            </div>
                            <div class="social-ways">
                                <div class="clearfix">
                                    <p>使用以下账号直接登录</p>
                                </div>

                                <div class="social-icons clearfix">
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-wb.png" /></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-qq.png" /></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-fb.png" class="no-margin-right"></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-fb.png" class="no-margin-right"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="login-form" id="mail_reg" style="display: none">
                        <div class="form-row no-margin-top ">
                          {{input type="text" autocomplete="off" placeholder="First Name" value=newAccount.firstName}}
                        </div>
                        <div class="form-row clearfix">
                          {{input type="text" placeholder="Email" value=newAccount.email}}
                        </div>
                        <div class="form-row">
                          {{input type="password" autocomplete="off" placeholder="Password" value=newAccount.password}}
                        </div>
                        <div class="form-row">
                          {{input type="password" autocomplete="off" placeholder="Confirm Password" value=newAccount.passwordConfirmation}}
                        </div>
                        <div class="form-row ">
                            <button class="op-btn" {{action "register" newAccount}}>Register</button>
                            {{#if showRegisterErrors}}
                              {{#if newAccount.errors.email}}
                                  <small class="error">{{newAccount.errors.email}}</small>
                              {{/if}}
                              {{#if newAccount.errors.password}}
                                  <small class="error">{{newAccount.errors.password}}</small>
                              {{/if}}
                              {{#if newAccount.errors.passwordConfirmation}}
                                  <small class="error">{{newAccount.errors.passwordConfirmation}}</small>
                              {{/if}}
                              {{#if registerErrors}}
                                  <p class="danger">{{registerErrors}}</p>
                              {{/if}}
                            {{/if}}
                        </div>
                        <div class="other-ways">
                            <div class="clearfix">
                                <p>Already XXXX member?</p><p class="nav-login nav-switch">Log in</p>
                            </div>
                            <div class="social-ways">
                                <div class="clearfix">
                                    <p>使用以下账号直接登录</p>
                                </div>

                                <div class="social-icons clearfix">
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-wb.png" /></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-qq.png" /></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-fb.png" class="no-margin-right"></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-fb.png" class="no-margin-right"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  登录 -->
<div class="auto-dialog-box login-box" id="login_box">
    <div class="dialog-table">
        <div class="dialog-cell">
            <div class="box-content">
                <div class="login-header">
                    <p>Login</p>
                </div>
                <div class="basic-content">
                    <div class="login-form" >
                        <div class="form-row no-margin-top ">
                            {{input value=identification placeholder='Email or Phone'}}
                        </div>
                        <div class="form-row">
                            {{input value=password placeholder='Password' type='Password'}}
                        </div>
                        <div class="form-row clearfix">
                            <div class="single-checkbox fl">
                                <input type="checkbox"  id="remember"/> <label for="remember"><span></span>记住我</label>
                            </div>
                            <div class="fr">
                                <span class="nav-switch nav-forget">忘记密码?</span>
                            </div>
                        </div>
                        <div class="form-row ">
                            <button class="op-btn" {{action 'authenticate'}}>Login</button>
                            {{#if loginErrors}}
                                <p class="danger">{{loginErrors}}</p>
                            {{/if}}
                        </div>
                        <div class="other-ways">
                            <div class="clearfix">
                                <p>还没有XXXX账号?</p><p class="nav-reg nav-switch">立即注册</p>
                            </div>
                            <div class="social-ways">
                                <div class="clearfix">
                                    <p>使用以下账号直接登录</p>
                                </div>

                                <div class="social-icons clearfix">
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-wb.png" /></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-qq.png" /></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-fb.png" class="no-margin-right"></a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#"><img src="/images/static/connect-fb.png" class="no-margin-right"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 注册完成 -->
<div class="reg-success-box dialog-box">
    <div class="box-header">
        Thanks for joining us
    </div>
    <div class="box-content">
        <p class="intro">
            We sent a confIrmation e-mail to you.
            Please check your mailbox to finish the registration — and start enjoying FlatmateShanghai
        </p>
    </div>
</div>
<!-- 注册完成-->

<!-- 忘记密码 -->
<div class="auto-dialog-box login-box" id="forget_box">
    <div class="dialog-table">
        <div class="dialog-cell">
            <div class="box-content">
                <div class="login-header">
                    <p>Forget Password</p>
                </div>
                <div class="basic-content">
                    <div class="login-form" >
                        <div class="form-row">
                            <p>输入与您账号关联的电话号码或邮箱地址，我们将通过电话号码给您发送验证号或电子邮件给您发送链接</p>
                        </div>
                        <div class="form-row">
                          {{input type="text" placeholder="Email or Phone" value=forgotPassword.email}}
                        </div>
                        <div class="form-row clearfix phone-valid">
                            <div class="col-3">
                                <input type="text" placeholder="短信验证码"/>
                            </div>
                            <div class="col-3 col-btn">
                                <button class="op-btn btn-send-code">发送验证码</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="op-btn btn-reset" {{action "sendEmail" forgotPassword}}>Next</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- 忘记密码 -->



<!-- 重置密码 -->
<div class="reset-box dialog-box">
    <div class="box-header">
        Reset Password
    </div>
    <div class="box-content">
        <div class="reset-form dialog-form" id="reset_form">
            <input type="password" placeholder="New password" />
            <input type="password" placeholder="Verify password" />
            <button type="submit" disabled>Okay</button>
        </div>
    </div>
</div>
<!-- 重置密码 -->
