<div class="main-container">
  {{partial 'navigation'}}
  <div class="edit-container">
      <div class="wishlist-container">
        {{#each model as |wishlist| }}
          {{#each wishlist.listings as |listing|}}
          <div class="single-result">
              <div class="flat-pic">
                  {{#if listing.coverPhoto}}
                    <a class="slide-img" style="background-image: url({{listing.coverPhoto.imageUrl}})"></a>
                  {{else}}
                    <a class="slide-img" style="background-image: url(/images/post-5.jpg)"></a>
                  {{/if}}
              </div>
              <div class="loc-info">
                  <p class="subarea-name">{{listing.house.compound}} - Room {{room-index listing.index}}</p>
                  <p><span><img src="/images/static/icon-location.png"/></span>{{listing.house.area}} — {{listing.house.address}}</p>
                  <p><span><img src="/images/static/icon-subway.png"/></span>
                    {{#each listing.house.subwayLines as |subwayLine index|}}
                      {{#if index}},{{/if}}{{subwayLine}}
                    {{/each}}
                  </p>
                  <div class="features">
                    {{#each listing.features as |feature|}}
                        <span class="feature-block">{{feature}}</span>
                    {{/each}}
                  </div>
              </div>
              <div class="room-info">
                  <div class="half-block">
                      <p class="room-num"><span>{{listing.house.bedrooms}}</span>BR<span>{{listing.house.bathrooms}}</span>Bath</p>
                      <p class="flat-num"><span>{{listing.house.floor}}</span>F</p>
                      <p class="room-size"><span>{{listing.house.size}}</span><sub>m<sup>2</sup></sub></p>
                      <div class="price fr">
                          <p class="unit">RMB/month</p>
                          <p class="price-num">{{listing.lowestPrice}}</p>
                      </div>
                  </div>
                  <div class="half-block no-border-bottom">
                      {{#if listing.house.isShared}}
                          <span class="part">S</span>
                      {{else}}
                          <span class="full">E</span>
                      {{/if}}
                      <ul class="roommates">
                          {{#each listing.house.flatmates as |flatmate| }}
                              {{#if flatmate.country}}
                                  <li>{{flatmate.country}}</li>
                              {{/if}}
                          {{/each}}
                      </ul>
                      <div class="remove">
                          <img src="/images/static/remove.png" {{action "removeWishlisting" listing wishlist}}/>
                      </div>
                  </div>
              </div>
          </div>
          {{/each}}
        {{/each}}
      </div>
  </div>
</div>

<style>
    .footer {
        position: fixed;
        height: 40px;
        bottom: 0;
    }
</style>